{% load static %}
{% load staticencoder %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{%  static  'shop/css/style.css'  %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="{%  static  'shop/slider/simple-adaptive-slider.css'  %}">
    <script defer src="{%  static  'shop/slider/simple-adaptive-slider.js'  %}"></script>
    <title>LuxonSport</title>
</head>
<body>
    
    <div class='main'>
        <div class="conteiner">
            <div class="main_all">
                <div class="main_all_top">
                    <div class="main_l">
                        <!-- <div class='mainImage'>
                            <img src='{{ MEDIA_URL }}{{ продукт.image }}'>
                        </div>  -->
                        <div class="slider">
                            <div class="slider__wrapper">
                              <div class="slider__items">
                                <div class="slider__item">
                                    <div >
                                        <img src='{{ MEDIA_URL }}{{ продукт.image }}'>
                                    </div>
                                </div>
                                <div class="slider__item">
                                  <div style="height: 250px; background: #607d8b;"></div>
                                </div>
                                <div class="slider__item">
                                  <div style="height: 250px; background: #f44336;"></div>
                                </div>
                                <div class="slider__item">
                                  <div style="height: 250px; background: #4caf50;"></div>
                                </div>
                              </div>
                            </div>
                            <a class="slider__control slider__control_prev" href="#" role="button" data-slide="prev"></a>
                            <a class="slider__control slider__control_next" href="#" role="button" data-slide="next"></a>
                        </div>
                    </div>
                    <div class="main_r">
                        <div class='productLabel'>
                            <p>
                                {{ продукт.name }}
                            </p>
                        </div>
                        <div class="availability">
                            {% if  продукт.наличие == 'a' or продукт.наличие == '+' %}
                                <p id="available">
                                    Available
                                </p>
                            {% elif продукт.наличие == 'ua' or продукт.наличие == None or продукт.наличие == '-' %}
                                <p id="unavailable">
                                    Unavailable
                                </p>
                            {% else %}
                            <p>
                                Available.
                            </p>
                            {% endif %}
                        </div>  

                        <div class='small_block'>
                            <div class="product_price">
                                {% if  продукт.цена == None %}
                                    <p>
                                        Unknown price
                                    </p>
                                {% else %}
                                    {% if продукт.скидка > 0 %}
                                        <h3>
                                            Discount {{ продукт.скидка }}%
                                        </h3>
                                        <h3>
                                            Old price:  <s>{{ продукт.цена|floatformat:2 }} {{ продукт.валюта }}</s>
                                        </h3>
                                        <h3>
                                            New price:  {{ продукт.цена|discount:продукт.скидка|floatformat:2 }} {{ продукт.валюта }}
                                        </h3>
                                    {% else %}
                                        <h3>
                                            Price:  {{ продукт.цена|floatformat:2 }} {{ продукт.валюта }}
                                        </h3>
                                    {% endif %}
                                {% endif %}
                            </div>
                           
                            {% if user_id %} 
                            {% if  продукт.цена == None  %}                         
                                <h3>Waiting for delivery</h3>
                            {% else %}
                                <div class="inp_cart">
                                    {% if продукт.наличие != '-' and продукт.наличие != None %}
                                        <form action="" method='post' >
                                            {% csrf_token %}
                                            <div style='display: none;'><input type='text' name='add_id' id='add_id' value='{{ продукт.id }}'></div>
                                            <div style='display: none;'><input type='text' name='add_name_ru' id='add_name_ru' value='{{ продукт.название_позиции }}'></div>
                                            <div style='display: none;'><input type='text' name='add_name_uk' id='add_name_uk' value='{{ продукт.название_позиции_укр }}'></div>
                                            <div style='display: none;'><input type='text' name='add_name_en' id='add_name_en' value='{{ продукт.name }}'></div>
                                            <div style='display: none;'><input type='text' name='add_price' id='add_price' value='{{ продукт.цена }}'></div>
                                            <div style='display: none;'><input type='text' name='add_currency' id='add_currency' value='{{ продукт.валюта }}'></div>
                                            <div><label>Amount: </label><input type='number' name='how_much_to_add' id='how_much_to_add' value="1"></div>
                                            <input type='hidden' name='add_to_cart' id='add_to_cart' value='add_to_cart'>
                                            <input class='inp_button' type='submit' value='Add to cart!'>
                                        </form>  
                                    {% endif %}
                                    {% if user_id %}
                                        <form action="" method='post' >
                                            {% csrf_token %}
                                            <div style='display: none;'><input type='text' name='favourite_add_id' id='favourite_add_id' value='{{ продукт.id }}'></div>
                                            <div style='display: none;'><input type='text' name='favourite_add_name_ru' id='favourite_add_name' value='{{ продукт.название_позиции }}'></div>
                                            <div style='display: none;'><input type='text' name='favourite_add_name_uk' id='favourite_add_name_uk' value='{{ продукт.название_позиции_укр }}'></div>
                                            <div style='display: none;'><input type='text' name='favourite_add_name_en' id='favourite_add_name_en' value='{{ продукт.name }}'></div>
                                            <div style='display: none;'><input type='text' name='favourite_add_price' id='favourite_add_price' value='{{ продукт.цена }}'></div>
                                            <div style='display: none;'><input type='text' name='favourite_add_currency' id='favourite_add_currency' value='{{ продукт.валюта }}'></div>
                                            <div style='display: none;'><input type='text' name='favourite_add_image' id='favourite_add_image' value='{{ продукт.image }}'></div>
                                            <input type='hidden' name='add_to_favourite' id='add_to_favourite' value='add_to_favourite'>
                                            <input class='favourite_inp_button' type='submit' value='Add to favourite!'>
                                        </form>
                                    {% endif %}
                                </div>
                            {% endif %}
                            {% else %}
                            <div class="inp_cart">
                                <p><a style='color: blue !important;' href='/en/accounts/login'>Log In</a> to account or <a style='color: blue !important;' href='/en/accounts/register'>Sing Up</a> to buy
                                </p> 
                            </div>
                            {% endif %}
                            
                            <!-- <label>Or</label> -->
                            
                        </div>
                        
                        
                        
                        <div class="pre_desc">
                            <div class="descr_span">{{ продукт.description }}</div>
                            
                        </div>
                        <div class="desck_link">
                            <a href="#main_all_hr">More description...</a>
                        </div>
                        <div class="callback_f">
                            <form action="" method='post' >
                            {% csrf_token %}
                            {% if auth_status == 'success' and user.first_name %}
                            <div style='display: none;'><input type='text' name='callme_first_name' id='callme_first_name' value='{{ user.first_name }}'></div>
                            <div style='display: none;'><input type='text' name='callme_last_name' id='callme_last_name' value='{{ user.last_name }}'></div>
                            {% else %}
                            <div style='display: none;'><input type='text' name='callme_first_name' id='callme_first_name' value='Неизвестный пользователь'></div>
                            {% endif %}
                            <div style='display: none;'><input type='text' name='add_name' id='add_name' value='{{ продукт.название_позиции }}'></div>
                            <div style='display: none;'><input type='text' name='add_price' id='add_price' value='{{ продукт.цена }}'></div>
                            <div style='display: none;'><input type='text' name='add_currency' id='add_currency' value='{{ продукт.валюта }}'></div>
                            {% if auth_status == 'success' and user.phone_number %}
                            <input type='tel' name='callme_phone_number' id='callme_phone_number' value='{{ user.phone_number }}'>
                            {% else %}
                            <input type='tel' name='callme_phone_number' id='callme_phone_number'>
                            {% endif %}
                            <input class='callme_inp_button' name = 'callme_inp_button' type='submit' value='Call me back!'>
                        </form>
                        </div>
                    </div>
                </div>
                <div class="main_all_nav">
                    <div class="main_all_nav_hrs">
                        <div class="main_all_nav_hr">
                            <a href="#main_all_hr" id="main_all_hr">Parametrs</a> 
                        </div>
                    </div>
                </div>
                <div class="main_all_moreinfo">
                    <div class="desc" id="description">
                        <div class="main_all_bot" id="description">
                            <p>Description and parameters</p>
                            <!-- <span style="white-space: pre-line" class="descr_span">{{ продукт.description }}</span> -->
                            <div class="descr_span">{{ продукт.description }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    {% for image in images %}
    <img src='{{ MEDIA_URL }}{{ image.image }}'>
    {% endfor %}
       
    
</div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
      var slider = new SimpleAdaptiveSlider('.slider', {
        loop: false,
        autoplay: false,
        interval: 5000,
        swipe: true,
      });
    });
  </script>
</html>