<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Ваша корзина
    <p>Добавить {{ выбранный_продукт.название_позиции }} в корзину?</p>
    <form action="" method='post'>
        {% csrf_token %}
        <div style='display: none;'><input type='text' name='yes' id='yes' value='{{ выбранный_продукт.id }}'></div>
        <input type='submit' value='Да'>
    </form>
    <form action="" method='post'>
        {% csrf_token %}
        <div style='display: none;'><input type='text' name='no' id='no' value='{{ выбранный_продукт.id }}'></div>
        <input type='submit' value='Нет'>
    </form>
      
</body>
</html>