{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="{%  static  'shop/css/main/style.css'  %}">
    <link rel="stylesheet"  href="{%  static  'shop/css/accounts/editProfile/edit_profile_style.css'  %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <title>Редагувати профіль</title>
    <style>
        body{
            overflow: hidden;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
    </style>
</head>
<body>
    {% include 'uk/accounts/editProfile/includes/navbar.html' %}
    <h1 class='main_label'>Редагувати даны користувача</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <label>Ім'я: </label>
        <input type='text' name='new_name' id='new_name' value='{{ userProfile.first_name }}'>
        <label>Прізвище: </label>
        <input type='text' name='new_last_name' id='new_last_name' value='{{ userProfile.last_name }}'>
        <label>Електронна пошта: </label>
        <input type='email' name="new_email" id='new_email' value='{{ userProfile.email }}'>
        <label>Номер телефону: </label>
        <input type="tel" name='new_phonenumber' id='new_phonenumber' value='{{ userProfile.phone_number }}'>
        <br>
        <p>Адреса доставки: </p>
        <label>Місто: </label><input type='text' name='new_city' id='new_city' value='{{ userProfile.city }}'>
        <label>Вулиця: </label><input type='text' name='new_street' id='new_street' value='{{ userProfile.street }}'>
        <label>Дім: </label><input type='text' name='new_house' id='new_house' value='{{ userProfile.house }}'>
        <label>Підтвердіть пароль</label>
        <input type="password" name='password' id='password' required >
        <input type="submit" value='Зберегти'>
        {{ error_message }}
        </form>  
</body>
{% include 'uk/accounts/editProfile/includes/footer.html' %}
</html>