{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="{%  static  'shop/css/main/style.css'  %}">
    <link rel="stylesheet"  href="{%  static  'shop/css/accounts/editProfile/edit_profile_style.css'  %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <link rel="icon" href="{%  static  'shop/img/logo.png'  %}" type="image/x-icon">
    <title>Edit Your Profile</title>
    <style>
        .content{
            overflow: hidden;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
    </style>
</head>
<body>
    <div class='content'>
        {% include 'uk/accounts/profilePage/includes/navbar.html' %}
        <h1 class='main_label'>Редагувати параметри акаунта</h1>
            <form action="" method="POST" id="change_pass_form">
                {% csrf_token %}
                <label class="change_label">Введіть старий пароль: </label>
                <input type='password' class="change_input" name='old_pwd' id='old_pwd' required>
                <label class="change_label">Введіть новий пароль: </label>
                <input type='password' class="change_input" name='new_pwd' id='new_pwd' required>
                <label class="change_label">Підтвердити новий пароль: </label>
                <input type='password' name="repeat_new_pwd" class="change_input" id='repeat_new_pwd' required> 
                <input type="submit" value='Save' class="change_input2">
                {{ error_message }}       
            </form>
        {% include 'uk/footer.html' %}
    </div>
</body>
</html>