{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{%  static  'shop/css/style.css'  %}">
    <link rel="stylesheet"  href="{%  static  'shop/css/main/style.css'  %}">
    <link rel="stylesheet" href="{% static '' %}shop/new/nicepage.css" media="screen">
    <link rel="stylesheet" href="{% static '' %}shop/new/Главная.css" media="screen">>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <script class="u-script" type="text/javascript" src="{% static '' %}shop/new/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static '' %}shop/new/nicepage.js" defer=""></script>
    <link rel="icon" href="{%  static  'shop/img/logo.png'  %}" type="image/x-icon">
    <title>LuxonSport</title>
    <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
  <link id="u-page-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">




  <script type="application/ld+json">{
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "Site1",
      "sameAs": []
    }
    </script>
  <meta name="theme-color" content="#478ac9">
  <meta property="og:type" content="website">
</head>
<body>
    {% block content %}
        {% include 'ru/collaboration/includes/navbar.html' %}
        {% include 'ru/collaboration/includes/body.html' %}
        {% include 'ru/footer.html' %}
    {% endblock %}
</body>
</html>