{% load static %}
{% load staticencoder %}
{% load mathfilters %}
{% get_media_prefix as MEDIA_URL %}

<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>
      {% if user.first_name %}
      Профиль пользователя {{ user.first_name }}
      {% else %}
      Профиль пользователя {{ user.username }}
      {% endif %}
    </title>
    <link rel="stylesheet" href="{% static '' %}shop/newProf/nicepage.css" media="screen">
    <link rel="stylesheet" href="{% static '' %}shop/newProf/Account.css" media="screen">
    <script class="u-script" type="text/javascript" src="{% static '' %}shop/newProf/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static '' %}shop/newProf/nicepage.js" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet"  href="{%  static  'shop/css/main/style.css'  %}">
    <link rel="stylesheet"  href="{%  static  'shop/css/accounts/register/register_style.css'  %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Site1",
		"sameAs": []
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Account">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body">
    {% include 'uk/accounts/profilePage/includes/navbar.html' %}
    <div class="conteiner">
      <div class="reg_body">
        <form action="" method='post'>
          <div class="formbl">
            {% csrf_token %}
            <div class="log_inf">
              <div class="log_lab">
                <label for='username'>Ім'я користувача</label>
              </div>
              
              
              <div class="log_inp">
                <input type='text' name='username' id='username'>
              </div>
              
              
              <div class="log_lab">
                <label for='password'>Пароль</label>
              </div>
              
              
              <div class="log_inp">
                <input type='password' name='password' id='password'>
              </div>
              
            </div>
            
            
            {% if login_error %}
              <label>{{ login_error }}</label>
            {% endif %}
            <div class="log_inp">
              <div class="logib_butHr">
                <input type='submit' value='Увійти'>
              </div>

            </div>
            
          </div>
            
        </form>
      </div>
    </div>
    
    
    {% include 'uk/accounts/profilePage/includes/footer.html' %}
    
  </body>
</html>