{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="{%  static  'shop/css/main/style.css'  %}">
    <link rel="stylesheet"  href="{%  static  'shop/css/accounts/profile/profile_style.css'  %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <link rel="icon" href="{%  static  'shop/img/logo.png'  %}" type="image/x-icon">
    <title>Замовлення</title>
    <script>
        function pickup(){
            document.getElementById('address').style.display ='none';
            document.getElementById('np').style.display ='none';
            document.getElementById('up').style.display ='none';
        }
        function novapochta(){
            document.getElementById('address').style.display ='block';
            document.getElementById('nova').style.display ='block';
            document.getElementById('ukr').style.display ='none';
        }
        function ukrpochta(){
            document.getElementById('address').style.display ='block';
            document.getElementById('nova').style.display ='none';
            document.getElementById('ukr').style.display ='block';
        }
    </script>
</head>
<body>
    {% include 'uk/accounts/profilePage/includes/navbar.html' %}
    {% if userId == account %}
    <div>
        <form method="POST" action="">
            {% csrf_token %}
            <p>Ім'я: {{ user.first_name }}</p>
            <p>Прізвище: {{ user.last_name }}</p>
            <p>Електронна пошта: {{ user.email }}</p>
            <p>Номер телефону: {{ user.phone_number }}</p>
            <label>Замовлення: </label>
            <span style="white-space: pre-line">{{ order.order_uk }}</span>
            <p>До сплати: {{ order.сумма_заказа }} UAH</p>
            {% if order.confirm == 'unc' %}
            <div style="color:red; text-decoration:underline;"><p>Увага! Статус замовлення: Не підтверджено користувачем. Будь-ласка, завершіть оформлення замовлення.</p></div>
            {% elif order.confirm == 'uc' %}
            <p>Статус замовлення: В обробці</p>
            {% elif order.confirm == 'ac' %}
            <p>Статус замовлення: Підтверджено адміністратором</p>
            {% elif order.confirm == 'done' %}
            <p>Статус замовлення: Замовлення виконано</p>
            {% endif %}
            {% if order.delivery_type == None %}
            <p>Тип доставки: не обрано</p>
            {% elif order.delivery_type == 'Самовивіз' %}
            <p>Тип доставки: Самовивіз</p>
            {% elif order.delivery_type == 'Нова пошта' %}
            <p>Тип доставки: Нова пошта</p>
            {% elif order.delivery_type == 'Укрпошта' %}
            <p>Тип доставки: Укрпошта</p>
            {% endif %}
            {% if order.payment_type == None %}
            <p>Тип сплати: не обрано</p>
            {% elif order.payment_type == 'Наличный' %}
            <p>Тип сплати: Готівка</p>
            {% elif order.payment_type == 'Безналичный' %}
            <p>Тип сплати: Картка</p>
            {% endif %}
            {% if order.delivery_type == 'Нова пошта' %}
            <p>Відділення Нової Пошти: {{ order.nova_pochta }}</p>
            <p>Місто: {{ order.city }}</p>
            <p>Вулиця: {{ order.street }}</p>
            <p>Дім: {{ order.house }}</p>
            {% elif order.delivery_type == 'Укрпошта' %}
            <p>Поштовий індекс: {{ order.ukr_pochta }}</p>
            <p>Місто: {{ order.city }}</p>
            <p>Вулиця: {{ order.street }}</p>
            <p>Дім: {{ order.house }}</p>
            {% endif %}
            {% if order.confirm == 'unc' %}
            <input type='hidden' name='editid' value='{{ order.id }}'>
            <input type="submit" name='edit' value='Завершити оформлення замовлення'>
            {% endif %}
        </form>
    </div>
    {% else %}
    <h1 style="text-align: center; margin-top: 50px; margin-bottom: 50px;">404<br><a href='/uk' style="text-decoration: underline; color: blue !important;">Повернутися на головну!</a></h1>
    {% endif %}
    {% include 'uk/footer.html' %}
</body>
</html>