header {
  background-color: #000;
}
.nav_link:after {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  background-color: #cc0000;
  opacity: 0;
  z-index: 1;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.intro_con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #fff;
  width: 100%;
  height: 92vh;
}

.intro_conADD {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #fff;
  width: 100%;
}
.intro_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 15vh;
  margin: 0 auto;
}

.header_link {
  display: -webkit-box;
  display: -ms-flexbox;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.header_logo {
  width: 190px;
  height: 70px;
}

#header_logo_img {
  width: 190px;
  height: 70px;
}

.navv a {
  margin-left: 20px;
  font-size: 24px;
  text-transform: uppercase;
}
.submenu {
  position: absolute;
  left: 50%;
  top: 100%;
  width: 210px;
  margin-left: -105px;
  background: #fafafa;
  border: 1px solid #ededed;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.8);
  transition: 0.4s ease-in-out;
}
.submenu li a {
  padding: 10px 0;
  margin: 0 10px;
  border-bottom: 1px solid #efefef;
  font-size: 12px;
  color: #484848;
  font-family: "Kurale", serif;
}

.header_but {
  margin-left: 20px;
  border-radius: 50%;
}

.headerbut_log {
  background-color: #cc0000;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  border-radius: 10%;
}

.headerbut_log:hover {
  color: #000;
}

.nav_link {
  text-decoration: none;
  color: #fff;
  vertical-align: top;
  margin: 0 20px;
  position: relative;
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.nav_link_current {
  color: #cc0000;
  text-decoration: none;
  vertical-align: top;
  margin: 0 20px;
  position: relative;
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.nav_link:hover {
  color: #cc0000;
}

.nav_link:hover::after {
  opacity: 1;
}

.header_top {
  display: flex;
  height: 60%;
}
.header_bot {
  display: flex;
  height: 40%;
}
.top_img {
  width: 250px;
  height: 100px;
}
