{% load static %}
{% load mathfilters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="{%  static  'shop/css/main/style.css'  %}">
    <link rel="stylesheet"  href="{%  static  'shop/css/accounts/profile/profile_style.css'  %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <link rel="icon" href="{%  static  'shop/img/logo.png'  %}" type="image/x-icon">
    <title>Создать заказ</title>
    <meta name="keywords" content="INTUITIVE">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <meta property="og:title" content="Luxon">
    <meta property="og:description" content="LuxonSports">
    <meta property="og:image" content="{% static '' %}shop/new/images/logo2.png">
    <link rel="stylesheet" href="{% static '' %}shop/new/nicepage.css" media="screen">
    <link rel="stylesheet" href="{% static '' %}shop/new/Главная.css" media="screen">
    <script class="u-script" type="text/javascript" src="{% static '' %}shop/new/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static '' %}shop/new/nicepage.js" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Site1",
        "sameAs": []
     	}
    </script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:type" content="website">
    <script>
        function pickup(){
            document.getElementById('address').style.display ='none';
            document.getElementById('np').style.display ='none';
            document.getElementById('up').style.display ='none';
        }
        function novapochta(){
            document.getElementById('address').style.display ='block';
            document.getElementById('nova').style.display ='block';
            document.getElementById('ukr').style.display ='none';
        }
        function ukrpochta(){
            document.getElementById('address').style.display ='block';
            document.getElementById('nova').style.display ='none';
            document.getElementById('ukr').style.display ='block';
        }
        document.getElementById("cardpay").disabled = true;
    </script>
</head>
<body>
    {% include 'en/accounts/profilePage/includes/navbar.html' %}
    {% if userId == account %}
    {{ error_message }}
    <div>
        <form method="POST" action="">
            {% csrf_token %}
            <label>Name: </label>
            <input type='text' name='first_name' value='{{ user.first_name }}' placeholder="Введите Ваше имя" required>
            <label>Surname: </label><input type='text' name='last_name' value='{{ user.last_name }}' placeholder="Введите Вашу фамилию" required>
            <label>Email: </label><input type='text' name='email' value='{{ user.email }}'placeholder="Введите Ваш email">
            {% if user.phone_number != None %}
            <label>Phone number: </label><input type='text' name='phone_number' value='{{ user.phone_number }}' placeholder="Введите Ваш номер телефона" required>
            {% else %}
            <label>Phone number: </label><input type='text' name='phone_number' placeholder="Введите Ваш номер телефона" required>
            {% endif %}
            <br>
            <label>Order: </label><div style='display: none;'>
                <input type="hidden" value='{{ order.заказ }}' name='order'>
            </div>
            <br>
            <p>{{ order.order_ru }}</p>
            <div style='display: none;'>
                <input type="hidden" value='{{ order.сумма_заказа }}' name='price'>
            </div>
            <p>To pay: {{ order.сумма_заказа|floatformat:"2" }} UAH</p>
            <p>Type of delivery: </p>
            <input type="radio" name='typeOfDelivery' value='Самовывоз' onclick="pickup();" checked>                
            <label>Pickup</label>
            <br>
            <input type="radio" name='typeOfDelivery' value='Нова Пошта' onclick='novapochta();'>
            <label>Nova Pochta</label>
            <br>
            <input type="radio" name='typeOfDelivery' value='Укрпошта' onclick='ukrpochta();'>
            <label>Ukrpochta</label>
            <br>
            <p>Type of payment: </p>
            <input type="radio" name='typeOfPayment' value='Наличный' checked>
            <label>Cash</label>
            <br>
            <input type="radio" name='typeOfPayment' id='cardpay' value='Безналичный' disabled>
            <label>Cashless</label><label style="color: red;">Not available (in development)</label>
            <div id='address' style='display: none;'>
                <p>Address</p>
                <div id='nova' style='display: none;'><label>Nova Pochta office: </label><input type='text' name='nova_pochta' value='{{ user.nova_pochta }}'></div>
                <div id='ukr' style='display: none;'><label>Postcode: </label><input type='number' name='ukr_pochta' value='{{ user.ukr_pochta }}'></div>
                <label>City: </label><input type='text' name='city' value='{{ user.city }}'>
                <label>Street: </label><input type='text' name='street' value='{{ user.street }}'>
                <label>House: </label><input type='text' name="house" value='{{ user.house }}'>
            </div>
            <br>
            <input type="submit" name='go' value="Confirm the order!">
        </form>
    </div>
    {% else %}
    <h1 style="text-align: center; margin-top: 50px; margin-bottom: 50px;">404<br><a href='/' style="text-decoration: underline; color: blue !important;">Go Back!</a></h1>
    {% endif %}
    {% include 'en/footer.html' %}
    <script>
        window.onbeforeunload = closingCode;
            function closingCode(){
            document.getElementById("quit").submit();
            return null; //<-- this prevents the dialog confirm box
        }
    </script>

</body>
</html>