{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{%  static  'shop/css/productInfo/style.css'  %}">
    <link rel="stylesheet"  href="{%  static  'shop/css/main/style.css'  %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <title>LuxonSport</title>
</head>
<body>
    {% block content %}
    {% include 'en/productInfo/includes/navbar.html' %}

    <div class='main'>
        <div class="conteiner">
            <div class="main_all">
                <div class="main_all_top">
                    <div class="main_l">
                        <div class='mainImage'>
                            <img src='{{ MEDIA_URL }}{{ продукт.image }}'>
                        </div> 
                    </div>
                    <div class="main_r">
                        <div class='productLabel'>
                            <p>
                                {{ продукт.название_позиции }}
                            </p>
                        </div>
                        <div class='small_block'>
                            <div class="product_price">
                                {% if  продукт.цена == None %}
                                    <p>
                                        Unknown price
                                    </p>
                                {% else %}
                                    <h3>
                                        {{ продукт.цена }} {{ продукт.валюта }}
                                    </h3>
                                {% endif %}
                            </div>
                            <div class="availability">
                                {% if  продукт.наличие == '+' %}
                                    <p>
                                        Available. Amount: Unknown
                                    </p>
                                {% elif продукт.наличие == '-'%}
                                    <p>
                                        Unavailable
                                    </p>
                                    {% elif продукт.наличие == None%}
                                    <p>
                                        Unavailable
                                    </p>
                                {% else %}
                                <p>
                                    Available. Amount: {{ продукт.наличие }}.
                                </p>
                                {% endif %}
                            </div>  
                            {% if user_id %} 
                            {% if  продукт.цена == None  %}                         
                                <h3>Waiting for delivery</h3>
                            {% else %}
                                <div class="inp_cart">
                                {% if продукт.наличие != '-' and продукт.наличие != None %}
                                    <form action="" method='post' >
                                        {% csrf_token %}
                                        <div style='display: none;'><input type='text' name='add_id' id='add_id' value='{{ продукт.id }}'></div>
                                        <div style='display: none;'><input type='text' name='add_name' id='add_name' value='{{ продукт.название_позиции }}'></div>
                                        <div style='display: none;'><input type='text' name='add_price' id='add_price' value='{{ продукт.цена }}'></div>
                                        <div style='display: none;'><input type='text' name='add_currency' id='add_currency' value='{{ продукт.валюта }}'></div>
                                        <div><label>Amount: </label><input type='number' name='how_much_to_add' id='how_much_to_add' value="1"></div>
                                        <input type='hidden' name='add_to_cart' id='add_to_cart' value='add_to_cart'>
                                        <input class='inp_button' type='submit' value='Add to cart!'>
                                    </form>  
                                    {% endif %}
                                </div>
                            {% endif %}
                            {% else %}
                            <div class="inp_cart">
                                <p><a style='color: blue !important;' href='/accounts/login'>Log In</a>to account or <a style='color: blue !important;' href='/accounts/register'>Sing Up</a> to buy
                                </p> 
                            </div>
                            {% endif %}
                            {% if user_id %}
                            <form action="" method='post' >
                                {% csrf_token %}
                                <div style='display: none;'><input type='text' name='favourite_add_id' id='favourite_add_id' value='{{ продукт.id }}'></div>
                                <div style='display: none;'><input type='text' name='favourite_add_name' id='favourite_add_name' value='{{ продукт.название_позиции }}'></div>
                                <div style='display: none;'><input type='text' name='favourite_add_price' id='favourite_add_price' value='{{ продукт.цена }}'></div>
                                <div style='display: none;'><input type='text' name='favourite_add_currency' id='favourite_add_currency' value='{{ продукт.валюта }}'></div>
                                <input type='hidden' name='add_to_favourite' id='add_to_favourite' value='add_to_favourite'>
                                <input class='favourite_inp_button' type='submit' value='Add to favourite!'>
                            </form>
                            {% endif %}
                            <label>Or</label>
                            <form action="" method='post' >
                                {% csrf_token %}
                                {% if auth_status == 'success' and user.first_name %}
                                <div style='display: none;'><input type='text' name='callme_first_name' id='callme_first_name' value='{{ user.first_name }}'></div>
                                <div style='display: none;'><input type='text' name='callme_last_name' id='callme_last_name' value='{{ user.last_name }}'></div>
                                {% else %}
                                <div style='display: none;'><input type='text' name='callme_first_name' id='callme_first_name' value='Неизвестный пользователь'></div>
                                {% endif %}
                                <div style='display: none;'><input type='text' name='add_name' id='add_name' value='{{ продукт.название_позиции }}'></div>
                                <div style='display: none;'><input type='text' name='add_price' id='add_price' value='{{ продукт.цена }}'></div>
                                <div style='display: none;'><input type='text' name='add_currency' id='add_currency' value='{{ продукт.валюта }}'></div>
                                {% if auth_status == 'success' and user.phone_number %}
                                <input type='tel' name='callme_phone_number' id='callme_phone_number' value='{{ user.phone_number }}'>
                                {% else %}
                                <input type='tel' name='callme_phone_number' id='callme_phone_number'>
                                {% endif %}
                                <input class='callme_inp_button' name = 'callme_inp_button' type='submit' value='Call me back!'>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="main_all_bot" id="description">
                    <p>Description and parameters</p>
                    <span style="white-space: pre-line">{{ продукт.описание }}</span>
                </div>
                <button class="desc_but" class="but" onclick="getMore()">
                    &#8597;
                </button>
            </div>
        </div>
    </div>
    {% for image in images %}
    <img src='{{ MEDIA_URL }}{{ image.image }}'>
    {% endfor %}
    {% include 'en/productInfo/includes/footer.html' %}
    {% endblock %}
    </div>
    <script>
        function getMore() {
        document.getElementById("description").classList.toggle("all_description");
}
    </script>
</body>
</html>
