{% load static %}
<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>создать заказ</title>
    <link rel="stylesheet" href="{% static '' %}shop/new/nicepage.css" media="screen">
    <link rel="stylesheet" href="{% static '' %}shop/new/Главная.css" media="screen">
    <link rel="stylesheet" href="{% static '' %}shop/new/make-order.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Site1",
		"sameAs": []
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="make order">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body">
    
    {% include 'ru/accounts/header.html' %}

    <section class="skrollable u-align-center u-clearfix u-section-123" id="sec-323e">
      <div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-custom-font u-font-montserrat u-text u-text-default u-text-1">название</p>
        <div class="u-container-style u-expanded-width-xs u-group u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <p class="u-custom-font u-font-montserrat u-text u-text-default u-text-2">Тип доставки:</p>
            <ul class="u-custom-font u-font-montserrat u-text u-text-default u-text-3">
              <li>Самовывоз</li>
              <li>Нова пошта</li>
              <li>Укрпошта</li>
            </ul>
            <p class="u-custom-font u-font-montserrat u-text u-text-default u-text-4">Тип оплаты:</p>
            <ul class="u-custom-font u-font-montserrat u-text u-text-default u-text-5">
              <li>Наличными</li>
              <li>Безналичный</li>
            </ul>
            <p class="u-custom-font u-font-montserrat u-text u-text-default u-text-palette-2-base u-text-6">Недоступно (в разработке)</p>
          </div>
        </div>
        <div class="u-container-style u-group u-shape-rectangle u-group-2">
          <div class="u-container-layout u-container-layout-2">
            <p class="u-align-left u-custom-font u-font-montserrat u-text u-text-7">Имя: </p>
            <p class="u-align-left u-custom-font u-font-montserrat u-text u-text-default u-text-8">Фами​лия:</p>
            <p class="u-align-left u-custom-font u-font-montserrat u-text u-text-9">Почта:</p>
            <p class="u-align-left u-custom-font u-font-montserrat u-text u-text-default u-text-10">Телефон: </p>
          </div>
        </div>
        <p class="u-align-center u-text u-text-default u-text-11">Общая цена:</p>
        <a href="https://nicepage.com/c/sale-website-templates" class="u-border-2 u-border-black u-btn u-btn-round u-button-style u-custom-font u-font-montserrat u-hover-black u-none u-radius-20 u-text-black u-text-hover-white u-btn-1">создать заказ!</a>
      </div>
    </section>
    
    
    {% include 'ru/accounts/footer.html' %}
    <section class="u-backlink u-clearfix u-grey-80">
      <a class="u-link" href="https://nicepage.com/website-templates" target="_blank">
        <span>Website Templates</span>
      </a>
      <p class="u-text">
        <span>created with</span>
      </p>
      <a class="u-link" href="" target="_blank">
        <span>Website Builder Software</span>
      </a>. 
    </section>
  </body>
</html>