{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet"  href="{%  static  'shop/css/main/style.css'  %}">
    <link rel="stylesheet"  href="{%  static  'shop/css/accounts/profile/profile_style.css'  %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <title>Ваш Заказ прнинят</title>
    <link rel="icon" href="{%  static  'shop/img/logo.png'  %}" type="image/x-icon">
</head>
<body>
    {% include 'ru/accounts/header.html' %}
    <h2>Ваш заказ принят</h2>
    <a href='/ru' style="color: blue !important; text-decoration: underline;">Вернуться на главную</a>
    {% include 'ru/accounts/footer.html' %}
</body>
</html>