.u-section-1 .u-sheet-1 {
  /* min-height: 2025px; */
  margin-bottom: 60px;
}

.u-section-1 .u-tabs-1 {
  /* min-height: 250px; */
  /* margin-bottom: 60px; */
  margin-top: 0;
  height: auto;
  width: 1140px;
}

@media (max-width:575px) {
  .u-sheet {
    min-height: 900px;
  }
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.25rem;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1.25rem;
}

.u-section-1 .u-tab-link-3 {
  font-size: 1.25rem;
}

.u-section-1 .u-tab-link-4 {
  font-size: 1.25rem;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 0;
}

.u-section-1 .u-icon-1 {
  color: rgb(0, 0, 0) !important;
  width: 89px;
  height: 89px;
  margin: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: -69px auto 0 142px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 12px auto 0 142px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-bottom: 0;
  margin-top: 43px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 240px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-line-1 {
  transform-origin: right center 0px;
  width: 1140px;
  margin: 1px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 0 auto;
  text-align: center;
}

.u-section-1 .u-icon-2 {
  width: 64px;
  height: 64px;
  color: rgb(0, 0, 0) !important;
  margin: 37px auto 0 12px;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  margin: -47px auto 0 249px;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  margin: -29px 616px 0 330px;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  margin: -26px auto 0 631px;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  margin: -29px 173px 0 758px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 218px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-8 {
  font-weight: 400;
  margin: 1px auto 0;
}

.u-section-1 .u-line-2 {
  height: 3px;
  transform-origin: right center 0px;
  margin-top: -37px;
  margin-bottom: 0;
}

.u-section-1 .u-text-9 {
  font-weight: 400;
  text-align: left;
  margin: 62px 389px 0 561px;
}

.u-section-1 .u-text-10 {
  font-weight: 400;
  text-align: left;
  margin: -29px auto 0 313px;
}

.u-section-1 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: -14px auto 0 12px;
}

.u-section-1 .u-text-11 {
  font-weight: 400;
  text-align: left;
  margin: -26px auto 0 593px;
}

.u-section-1 .u-text-12 {
  font-weight: 400;
  text-align: left;
  margin: -29px auto 0 313px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 223px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-13 {
  font-weight: 400;
  margin: 0 428px 0 auto;
}

.u-section-1 .u-line-3 {
  height: 3px;
  transform-origin: left center 0px;
  margin-top: -36px;
  margin-bottom: 0;
}

.u-section-1 .u-icon-4 {
  width: 64px;
  height: 64px;
  color: rgb(0, 0, 0) !important;
  margin: 71px auto 0 12px;
}

.u-section-1 .u-text-14 {
  font-weight: 400;
  margin: -46px 261px 0 auto;
}

.u-section-1 .u-text-15 {
  font-weight: 400;
  margin: -27px auto 0 184px;
}

.u-section-1 .u-text-16 {
  font-weight: 400;
  margin: -27px 445px 0 454px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 30px;
}

.u-section-1 .u-group-1 {
  width: 1000px;
  min-height: 102px;
  height: auto;
  margin: 47px auto 0;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 0;
}

.u-section-1 .u-text-17 {
  margin: 26px 448px 0 336px;
}

.u-section-1 .u-text-18 {
  font-weight: 400;
  margin: -48px 120px 0 auto;
}

.u-section-1 .u-icon-5 {
  width: 44px;
  height: 44px;
  margin: -46px auto 0 20px;
}

.u-section-1 .u-text-19 {
  font-weight: 400;
  margin: -40px auto 0 129px;
}

.u-section-1 .u-icon-6 {
  font-size: 1.5em;
  width: 24px;
  height: 33px;
  margin: -34px 32px 0 auto;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  margin: -29px 33px 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 21px 10px;
}

.u-section-1 .u-group-2 {
  width: 243px;
  min-height: 531px;
  height: auto;
  /* margin: 0 auto 0 0; */
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 0;
}

.u-section-1 .u-image-1 {
  width: 170px;
  height: 170px;
  margin: 0 auto;
}

.u-section-1 .u-text-20 {
  margin: 0 15px;
}

.delete {
  cursor: pointer;
}

.u-section-1 .u-icon-7 {
  font-size: 1.5em;
  width: 37px;
  height: 50px;
  /* margin: 18px 22px 0 auto; */
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: normal;
  /* margin: -46px auto 0 35px; */
  padding: 6px 10px 7px 9px;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-group-3 {
  width: 243px;
  min-height: 572px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px 0;
}

.u-section-1 .u-image-2 {
  width: 170px;
  height: 170px;
  margin: 0 auto;
}

.u-section-1 .u-text-21 {
  margin: 0 15px;
}

.u-section-1 .u-text-22 {
  margin: 15px 15px 0;
}

.u-section-1 .u-text-23 {
  margin: 15px 59px 0 15px;
}

.u-section-1 .u-icon-8 {
  font-size: 1.5em;
  width: 28px;
  height: 38px;
  transition-duration: 0.75s;
  margin: -38px 24px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-tabs-1 {
    width: 940px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 198px;
  }

  .u-section-1 .u-line-1 {
    width: 940px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 370px;
    margin-left: 318px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: -28px;
    margin-right: 420px;
    margin-left: 311px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -27px;
    margin-left: 520px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 73px;
    margin-left: 658px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 279px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 101px;
    margin-right: 260px;
    margin-left: 490px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -28px;
    margin-left: 267px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -25px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: -9px;
    margin-right: 141px;
    margin-left: auto;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-left: 267px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 256px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 353px;
  }

  .u-section-1 .u-text-16 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 184px;
  }

  .u-section-1 .u-group-1 {
    width: 880px;
    min-height: 117px;
    height: auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 0;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-top: 34px;
    margin-right: 391px;
    margin-left: 273px;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-top: -36px;
    margin-right: 101px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: -58px;
  }

  .u-section-1 .u-text-19 {
    width: auto;
    margin-top: -39px;
    margin-left: 111px;
  }

  .u-section-1 .u-icon-6 {
    font-size: 1.5rem;
    margin-top: -35px;
    margin-right: 41px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -23px;
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-icon-7 {
    font-size: 1.5rem;
    height: 51px;
    margin-top: 9px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -47px;
    margin-left: 15px;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-icon-8 {
    font-size: 1.5rem;
    height: 39px;
    margin-top: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-tabs-1 {
    /* min-height: 443px; */
    width: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 257px;
  }

  .u-section-1 .u-line-1 {
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 260px;
    margin-left: 208px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 191px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -3px;
    margin-right: 320px;
    margin-left: 191px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -52px;
    margin-left: 398px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: -4px;
    margin-right: 113px;
    margin-left: 398px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 240px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 75px;
    margin-right: 194px;
    margin-left: 321px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-left: 98px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -23px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -23px;
    margin-left: 349px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 98px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 171px;
  }

  .u-section-1 .u-text-13 {
    margin-right: auto;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: -26px;
    margin-right: auto;
    margin-left: 450px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-top: -68px;
    margin-left: 181px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-top: 12px;
    margin-right: 298px;
    margin-left: 181px;
  }

  .u-section-1 .u-group-1 {
    min-height: 184px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-17 {
    margin-top: 88px;
    margin-right: 348px;
    margin-left: 96px;
  }

  .u-section-1 .u-text-18 {
    margin-top: -57px;
    margin-right: 85px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 23px;
  }

  .u-section-1 .u-text-19 {
    margin-top: -67px;
    margin-left: 96px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: -7px;
    margin-right: 27px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -57px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 7px;
    padding-right: 7px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 179px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 170px;
    margin-left: 118px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 143px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 188px;
    margin-left: 143px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 299px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 32px;
    margin-left: 299px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 293px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
  }

  .u-section-1 .u-text-9 {
    margin-top: 97px;
    margin-right: 187px;
    margin-left: 159px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -56px;
    margin-left: auto;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 10px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 1px;
    margin-left: auto;
  }

  .u-section-1 .u-text-12 {
    margin-top: -56px;
    margin-left: 126px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 150px;
  }

  .u-section-1 .u-text-14 {
    margin-top: -27px;
    margin-right: 100px;
    margin-left: auto;
  }

  .u-section-1 .u-text-15 {
    margin-top: -67px;
    margin-left: 125px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 175px;
    margin-left: 125px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 40px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-17 {
    margin-top: 70px;
    margin-right: 232px;
    margin-left: 76px;
  }

  .u-section-1 .u-text-18 {
    margin-top: 7px;
    margin-right: auto;
    margin-left: 76px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: -103px;
    margin-left: 18px;
  }

  .u-section-1 .u-text-19 {
    margin-top: -79px;
    margin-left: 76px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 5px;
    margin-right: 34px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 89px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 89px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -185px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 219px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 70px;
    margin-left: 18px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -66px;
    margin-left: 88px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 43px;
    margin-left: 88px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -1px;
    margin-left: 88px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 0;
    margin-right: 31px;
    margin-left: 88px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 221px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 0;
  }

  .u-section-1 .u-line-2 {
    margin-top: -28px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 80px;
    margin-right: 56px;
    margin-left: 87px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -62px;
    margin-right: 30px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -13px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 24px;
    margin-right: 89px;
    margin-left: 45px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -62px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 160px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 56px;
  }

  .u-section-1 .u-text-14 {
    margin-top: -3px;
    margin-right: auto;
  }

  .u-section-1 .u-text-15 {
    margin-top: -98px;
    margin-left: auto;
  }

  .u-section-1 .u-text-16 {
    margin-top: 5px;
    margin-right: 19px;
    margin-left: 80px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-17 {
    width: 190px;
    margin-top: 67px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-18 {
    margin-top: 10px;
    margin-left: 64px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: -104px;
    margin-left: 9px;
  }

  .u-section-1 .u-text-19 {
    margin-top: -84px;
    margin-left: 64px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 18px;
    margin-right: 27px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -51px;
    margin-right: 10px;
  }
}

.u-section-1 .u-icon-8,
.u-section-1 .u-icon-8:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-icon-8.u-icon-8.u-icon-8:hover .u-svg-link {
  fill: #000000 !important;
}

.u-section-1 .u-icon-8.u-icon-8.u-icon-8:hover {
  color: #000000 !important;
}

.u-section-1 .u-icon-8.u-icon-8.u-icon-8.hover .u-svg-link {
  fill: #000000 !important;
}

.u-section-1 .u-icon-8.u-icon-8.u-icon-8.hover {
  color: #000000 !important;
}


.fav_block {
  width: 285px;
}

.fav_all {
  display: flex;
}

.u-tab-item a {
  font-size: 1.25rem;
}

.nav-prof {
  display: block;
  padding: 10px 20px;
  color: #000000;
}

.nav-prof:hover {
  color: #000000;
}


.u-tab-item-active::after {
  content: "";
  width: 100%;
  height: 3px;
  display: block;
  background-color: #000;
  opacity: 1;
  z-index: 100;
  /* position: absolute; */
  /* top: 100%; */
  left: 0;
}

.u-tab-item:hover:after {
  content: "";
  width: 100%;
  height: 3px;
  display: block;
  background-color: #000;
  opacity: 1;
  z-index: 100;
  /* position: absolute; */
  /* top: 100%; */
  left: 0;
}

.status_bl_green {
  width: 30px;
  height: 30px;
  margin-left: 15px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: greenyellow;
  border-radius: 50%;
}

.status_bl_yellow {
  width: 30px;
  height: 30px;
  margin-left: 15px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: yellow;
  border-radius: 50%;
}

.status_bl_red {
  width: 30px;
  height: 30px;
  margin-left: 15px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: red;
  border-radius: 50%;
}

.order_bl {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.order_del img {
  width: 40px;
  height: 40px;
}

.order_num_status {
  /* display:flex;
  align-items: center; */
}

.orders_all2 {
  display: none;

}

@media (max-width:767px) {
  .orders_all2 {
    display: block;
  }

  .orders_all {
    display: none;
  }
}

.u-file-icon input[type='submit'] {
  height: 50px;
  width: 50px;
  background: #fff;
  border: none;
}

.cart_all {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.grets {
  display: flex;
  justify-content: space-between;
}

.names_av {
  display: flex;
}

.names {
  margin-left: 15px;
}

.red_but {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.red_button {
  color: black;
  border: 2px solid #000;
  text-align: center;
  padding: 7px 12px;
}

.red_button:hover {
  color: #fff;
  background-color: #000;
  border: 2px solid #000;
  text-align: center;
  padding: 7px 12px;
}

@media (max-width:575px) {
  .grets {
    flex-direction: column;
  }
}

.forms_cart {
  z-index: 1000;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.form_cart_input {
  background: none;
  cursor: pointer;
  border: none;
  height: 40px;
  width: 40px;
}

.form_cart_input_am {
  background: #fff;
  cursor: pointer;
  border: none;
  height: 40px;
  width: 40px;
  font-size: 26px;
}

.cart_am {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.cart_am p {
  margin: 0;
}

.cart-item-name {
  font-size: 14px;
}

.cart_all p {
  font-size: 20px;
}

.form_del {
  margin-right: 15px;
}

.form_del input {
  background-color: none;
  background: none;
  border: none;
}

.cart_bl {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart_b p {
  text-align: center;
}

.cart_b form {
  display: flex;
  justify-content: center;
}

.fav-block-bot {
  display: flex;
  justify-content: space-around;
}

.fav-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.u-btn {
  margin-top: 0px;
  margin-bottom: 0px;
}