{% load static %}
{% load staticencoder %}
{% get_media_prefix as MEDIA_URL %}

<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Luxon">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Продукты</title>
    <link rel="stylesheet"  href="{%  static  'shop/css/main/style.css'  %}">
    <link rel="stylesheet" href="{% static '' %}shop/new/nicepage.css" media="screen">
    <link rel="stylesheet" href="{% static '' %}shop/new/Продукты.css" media="screen">
    <script class="u-script" type="text/javascript" src="{% static '' %}shop/new/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static '' %}shop/new/nicepage.js" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Site1",
		"sameAs": []}
    </script>

    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Продукты">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body">
    {% include 'ru/header.html' %}
    <div class="conteiner">

    
  
  </div>
    <div class="cont">
      <div class="conteiner">
        <div class="all_helper">
          <div class="conteiner">

          
          <div class="help_filters">
            <form method='POST' action=''>
              {% csrf_token %}
              <div class="filter">
                  <div class="filter_set">
                      {% if withprice == 'no' and available == 'no' %}
                      <p>Цена</p>
                      <div class="price_lab">
                          <div class="filter_act">
                              <label>С ценой</label>
                              <input type='radio' name='pricefilter' value='Цена есть'>
                          </div>
                          <div class="filter_act">
                              <label>Нет в наличии</label>
                              <input type='radio' name='pricefilter' value='Цены нет' checked>
                          </div>
                      </div>
                      <p>Наличие</p>
                      <div class="availability_lab">
                          <div class="filter_act">
                              <label>Есть в наличии</label>
                              <input type='radio' name='availablefilter' value='Есть'>
                          </div>
                          <div class="filter_act">
                              <label>Нет в наличии</label>
                              <input type='radio' name='availablefilter' value='Нету' checked>
                          </div>
                      </div>
                      {% elif withprice == 'no' and available == 'yes' %}
                      <p>Цена</p>
                      <div class="price_lab">
                          <div class="filter_act">
                              <label>С ценой</label>
                              <input type='radio' name='pricefilter' value='Цена есть'>
                          </div>
                          <div class="filter_act">
                              <label>Без цены</label>
                              <input type='radio' name='pricefilter' value='Цены нет' checked>
                          </div>
                      </div>
                      <p>Наличие</p>
                      <div class="availability_lab">
                          <div class="filter_act">
                              <label>Есть в наличии</label>
                              <input type='radio' name='availablefilter' value='Есть' checked>
                          </div>
                          <div class="filter_act">
                              <label>Нет в наличии</label>
                              <input type='radio' name='availablefilter' value='Нету' >
                          </div>
                      </div>
                      {% elif withprice == 'yes' and available == 'no' %}
                      <p>Цена</p>
                      <div class="price_lab">
                          <div class="filter_act">
                              <label>С ценой</label>
                              <input type='radio' name='pricefilter' value='Цена есть' checked>
                          </div>
                          <div class="filter_act">
                              <label>Без цены</label>
                              <input type='radio' name='pricefilter' value='Цены нет' >
                          </div>
                      </div>
                      <p>Наличие</p>
                      <div class="availability_lab">
                          <div class="filter_act">
                              <label>Есть в наличии</label>
                              <input type='radio' name='availablefilter' value='Есть'>
                          </div>
                          <div class="filter_act">
                              <label>Нет в наличии</label>
                              <input type='radio' name='availablefilter' value='Нету' checked>
                          </div>
                      </div>
                      {% elif withprice == 'yes' and available == 'yes' %}
                      <p>Цена</p>
                      <div class="price_lab">
                          <div class="filter_act">
                              <label>С ценой</label>
                              <input type='radio' name='pricefilter' value='Цена есть' checked>
                          </div>
                          <div class="filter_act">
                              <label>Без цены</label>
                              <input type='radio' name='pricefilter' value='Цены нет' >
                          </div>
                      </div>
                      <p>Наличие</p>
                      <div class="availability_lab">
                          <div class="filter_act">
                              <label>Есть в наличии</label>
                              <input type='radio' name='availablefilter' value='Есть' checked>
                          </div>
                          <div class="filter_act">
                              <label>Нет в наличии</label>
                              <input type='radio' name='availablefilter' value='Нету'>
                          </div>
                      </div>
                      {% elif withprice == 'spec' and available == 'yes' %}
                      <p>Цена</p>
                      <div class="price_lab">
                          <div class="filter_act">
                              <label>С ценой</label>
                              <input type='radio' name='pricefilter' value='Цена есть'>
                          </div>
                          <div class="filter_act">
                              <label>Без цены</label>
                              <input type='radio' name='pricefilter' value='Цены нет'>
                          </div>
                      </div>
                      <p>Наличие</p>
                      <div class="availability_lab">
                          <div class="filter_act">
                              <label>Есть в наличии</label>
                              <input type='radio' name='availablefilter' value='Есть'checked>
                          </div>
                          <div class="filter_act">
                              <label>Нет в наличии</label>
                              <input type='radio' name='availablefilter' value='Нету' >
                          </div>
                      </div>
                      {% elif withprice == 'spec' and available == 'no' %}
                      <p>Цена</p>
                      <div class="price_lab">
                          <div class="filter_act">
                              <label>С ценой</label>
                              <input type='radio' name='pricefilter' value='Цена есть'>
                          </div>
                          <div class="filter_act">
                              <label>Без цены</label>
                              <input type='radio' name='pricefilter' value='Цены нет'>
                          </div>
                      </div>
                      <p>Наличие</p>
                      <div class="availability_lab">
                          <div class="filter_act">
                              <label>Есть в наличии</label>
                              <input type='radio' name='availablefilter' value='Есть'>
                          </div>
                          <div class="filter_act">
                              <label>Нет в наличии</label>
                              <input type='radio' name='availablefilter' value='Нету' checked>
                          </div>
                      </div>
                      {% elif withprice == 'spec' and available == 'spec' %}
                      <p>Цена</p>
                      <div class="price_lab">
                          <div class="filter_act">
                              <label>С ценой</label>
                              <input type='radio' name='pricefilter' value='Цена есть'>
                          </div>
                          <div class="filter_act">
                              <label>Без цены</label>
                              <input type='radio' name='pricefilter' value='Цены нет' >
                          </div>
                      </div>
                      <p>Наличие</p>
                      <div class="availability_lab">
                          <div class="filter_act">
                              <label>Есть в наличии</label>
                              <input type='radio' name='availablefilter' value='Есть'>
                          </div>
                          <div class="filter_act">
                              <label>Нет в наличии</label>
                              <input type='radio' name='availablefilter' value='Нету' >
                          </div>
                      </div>
                      {% elif withprice == 'yes' and available == 'spec' %}
                      <p>Цена</p>
                      <div class="price_lab">
                          <div class="filter_act">
                              <label>С ценой</label>
                              <input type='radio' name='pricefilter' value='Цена есть' checked>
                          </div>
                          <div class="filter_act">
                              <label>Без цены</label>
                              <input type='radio' name='pricefilter' value='Цены нет'>
                          </div>
                      </div>
                      <p>Наличие</p>
                      <div class="availability_lab">
                          <div class="filter_act">
                              <label>Есть в наличии</label>
                              <input type='radio' name='availablefilter' value='Есть'>
                          </div>
                          <div class="filter_act">
                              <label>Нет в наличии</label>
                              <input type='radio' name='availablefilter' value='Нету'>
                          </div>
                      </div>
                      {% elif withprice == 'no' and available == 'spec' %}
                      <p>Цена</p>
                      <div class="price_lab">
                          <div class="filter_act">
                              <label>С ценой</label>
                              <input type='radio' name='pricefilter' value='Цена есть'>
                          </div>
                          <div class="filter_act">
                              <label>Без цены</label>
                              <input type='radio' name='pricefilter' value='Цены нет' checked>
                          </div>
                      </div>
                      <p>Наличие</p>
                      <div class="availability_lab">
                          <div class="filter_act">
                              <label>Есть в наличии</label>
                              <input type='radio' name='availablefilter' value='Есть'>
                          </div>
                          <div class="filter_act">
                              <label>Нет в наличии</label>
                              <input type='radio' name='availablefilter' value='Нету'>
                          </div>
                      </div>
                      {% endif  %}
                  </div>
                  <div class="filter_but">
                      <div style="display: none;"><input type="text" name='currentCagtegory' value="{{ currentCagtegory }}"></div>
                      <a href="#" class="filter_buHr">
                        <input type='submit' name='applyfilters' value='Применить фильтры'>
                      </a>
                      <a href="#" class="filter_buHr">
                        <input type='submit' name='nofilters' value='Убрать все фильтры'>
                      </a>
  
                  </div>
              </div>
            </form>
            <div class="filter_close" >
              <img src="{% static '' %}shop/new/images/close.png" onclick="fiterUnshow()" alt="">
            </div>
          </div>
          <div class="help_category">
            <div class="category">
              <ul class="categories">
                  {% for i in category %}
                      <li onclick="myFunction(this)" class="category_item">
                        <div class="drop_down_cont" style="display: inline-block">
                          <div  class="dropbtn" style="cursor:pointer">
                            {{ i.category_name_ru }}
                          </div>
                        </div>
                        
                          <ul class="subcategories" >


                            <li class="sub_cat ">
                              <form method="POST", action="" >
                                  {% csrf_token %}
                                  <input type='hidden' name='subOrCat' value='cat'>
                                  <input type='hidden' name='categoryid' value='{{ i.category_name_ru }}'>
                                  <a href="#" class="subcat_hr">
                                    <input type='submit' name='categoryname' value='Показать весь раздел'>
                                  </a>
                                  
                              </form>
                            </li>

                              {% for j in i.подкатегория.all %}
                                  <li class="sub_cat ">
                                    <form method="POST", action="" >
                                        {% csrf_token %}
                                        <input type='hidden' name='subOrCat' value='sub'>
                                        <input type='hidden' name='categoryid' value='{{ j.subcategory_id }}'>
                                        <a href="#" class="subcat_hr">
                                          <input type='submit' name='categoryname' value='{{ j.subcategory_name_ru }}'>
                                        </a>
                                        
                                    </form>
                                  </li>
                              {% endfor %}
                          </ul>
                      </li>
                  {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        </div>      
        
        <div class="icons">
          <div class="icon_cat">
            <p class="icon_catalog" onclick="filterShow()">Каталог</p>
          </div>
          <div class="icon_filters" onclick="filterShow()">
            <img src="{% static '' %}shop/new/images/filter.png" alt="" srcset="">
            <p>Фильтры</p>
          </div>
        </div>
        {{ error_message }}
        <div class="product_list">
          {% for продукт in продукты %}
          <section class="u-clearfix u-grey-10 u-section-2" id="sec-257c">
            <div class="u-align-left u-clearfix u-sheet u-sheet-1">
              <div class=" u-container-style u-group u-group-1">
                <div class="u-container-layout u-valign-top u-container-layout-1">
                  <a href='/ru/product/{{ продукт.id }}'><img class="u-image u-image-default u-image-1" src="{{ MEDIA_URL }}{{ продукт.image }}" alt="" data-image-width="840" data-image-height="473"></a>
                  <h4 class="u-align-center u-custom-font u-font-montserrat u-text u-text-1">{{ продукт.название_позиции }}</h4>
                  {% if продукт.цена == None or продукт.валюта == None %}
                  <h6 class="u-custom-font u-font-montserrat u-text u-text-default u-text-2">Цена формируется</h6>
                  {% else %}
                    {% if продукт.скидка > 0 %}
                      <h6 class="u-custom-font u-font-montserrat u-text u-text-custom-color-1 u-text-default u-text-2"><s>{{ продукт.цена|floatformat:2 }} {{ продукт.валюта }}</s>   {{ продукт.цена|discount:продукт.скидка|floatformat:2  }} {{ продукт.валюта }}</h6>
                    {% else %}
                      <h6 class="u-custom-font u-font-montserrat u-text u-text-custom-color-1 u-text-default u-text-2">{{ продукт.цена|floatformat:2 }} {{ продукт.валюта }}</h6>
                    {% endif %}
                  {% endif %}
                  <a href="/ru/product/{{ продукт.id }}" class="u-border-2 u-border-black u-btn u-button-style u-custom-font u-font-montserrat u-hover-black u-none u-text-black u-text-hover-white u-btn-1">Подробнее</a>
                </div>
              </div>
            </div>
          </section>
          {% endfor %}
        </div>
      </div>
    </div>
    <section class="u-clearfix u-section-3" id="sec-f281">
      {% if maxPage != 0 %}
      <div class="u-clearfix u-sheet u-sheet-1">      
        <form method="POST" action=''>
          {% csrf_token %}
          {% if page != 1 %}
          <a href="" class="u-black u-border-none u-btn u-button-style u-hover-feature u-hover-grey-60 u-btn-1"><input type='submit' style="background: none; color: inherit; border: none; padding: 0; font: inherit; cursor: pointer; outline: inherit;" name='prevPage' value='Предыдущая страница'></a>
          {% endif %}
          {% if page == 1 %}
              <div style="display: none;"><input type="text" name='page' value="1"></div>
          {% else %}
              <div style="display: none;"><input type="text" name='page' value="{{ page }}"></div>
          {% endif %}
          <div style="display: none;"><input type="text" name='availableStatus' value="{{ available }}"></div>
          <div style="display: none;"><input type="text" name='withpriceStatus' value="{{ withprice }}"></div>
          <div style="display: none;"><input type="text" name='currentCagtegory' value="{{ currentCagtegory }}"></div>
          {% if maxPage > page %}
          <a class="u-black u-border-none u-btn u-button-style u-hover-feature u-hover-grey-75 u-btn-2"><input type='submit'style="background: none; color: inherit; border: none; padding: 0; font: inherit; cursor: pointer; outline: inherit;" name='nextPage' value='Следующая страница'></a>
          {% endif %}
      </form>
        <p class="u-text u-text-default u-text-1">Страница {{ page }} из {{ maxPage }}</p>
      {% else %}
        <p class="u-text u-text-default u-text-1">Тут ничего нет</p>
      {% endif %}
      </div>
    </section>
    
    {% include 'ru/footer.html' %}
    

    <script>
      function myFunction(element) {
        let subcategories = element.querySelectorAll("li.sub_cat");
        console.log(subcategories);
 
        for (let i of subcategories) {
          i.classList.toggle("show");
        }
      }
      function filterShow(){
        document.querySelector(".all_helper").classList.toggle("show_filter");
      }
      function fiterUnshow(){
        document.querySelector(".all_helper").classList.remove("show_filter");
      }
    </script>
  </body>
  
</html>