{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{%  static  'shop/css/main/style.css'  %}">
    <link rel="stylesheet"  href="{%  static  'shop/css/main/header_style.css'  %}">
    <link rel="stylesheet"  href="{%  static  'shop/css/productMain/products_style.css'  %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <title>LuxonSport</title>
</head>
<body>
    
    

    {% block content %}
    {% include 'products/search/includes/navbar.html' %}
    {% include 'products/search/includes/body.html' %}
    {% include 'products/search/includes/footer.html' %}
    {% endblock %}


</div>
</body>
</html>


