{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="{%  static  'shop/css/main/style.css'  %}">
    <link rel="stylesheet"  href="{%  static  'shop/css/accounts/profile/profile_style.css'  %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <link rel="icon" href="{%  static  'shop/img/logo.png'  %}" type="image/x-icon">
    <title>Обранне</title>
</head>
<body>
    {% block content %}
    {% include 'uk/accounts/profilePage/includes/navbar.html' %}
    {% if account == userId %}
        <div class="body_inf">
            <div class="conteiner">
                <div class="intro_page">
                    <div class="user_page">
                        <div class="user" >
                            <div class="user_img">
                                <a class="first_name" href='/uk/accounts/{{ user.id }}/'>
                                    <img src="{%  static  'shop/img/user.png'  %}" alt="">
                                </a>
                            </div>
                             <div class="user_inf ">
                                <div class="user_inf_top">
                                    {% if user.first_name %}
                                    <a class="first_name" href='/uk/accounts/{{ user.id }}/'>
                                        {{ user.first_name }}
                                    </a>
                                    {% else %}
                                        <a class="first_name" href='/uk/accounts/{{ user.id }}/'>
                                            {{ user.username }}
                                        </a>
                                    {% endif %}
                                    {% if user.last_name %} 
                                    <a class="last_name" href='/uk/accounts/{{ user.id }}/'>
                                        {{ user.last_name }}
                                    </a>
                                    {% endif %}
                                </div>
                                <div class="user_inf_bot">
                                    <a class="user_email" href='/uk/accounts/{{ user.id }}/'>
                                        {{ user.email }}
                                    </a>  
                                    <!-- <p class="user_email">{{ user.email }}</p> -->
                                </div>
                            </div>
                        </div>
                        <div class="order user_bl">
                            <div class="user_bl_img">
                                <img src="{%  static  'shop/img/list.png'  %}" alt="">
                            </div>
                            <div class="user_bl_text">
                                <a href='orders'>Мої замовлення</a>
                            </div>
                        </div>
                        <div class="favourite user_bl active_item">
                            <div class="user_bl_img">
                                <img src="{%  static  'shop/img/heart.png'  %}" alt=""> 
                             </div>
                             <div class="user_bl_text">
                                <a href='favourites'>Обранне</a>
                            </div>
                        </div>
                        <div class="cart user_bl">
                            <div class="user_bl_img">
                                <img src="{%  static  'shop/img/cart.png'  %}" alt="">
                            </div>
                            <div class="user_bl_text">
                               <a href='cart'>Мій кошик</a> 
                            </div>
                            
                        </div>
                    </div>

                    <div class="user_redact">
                            {% for favourite in favourites %}
                                <form action='' method="POST">
                                    {% csrf_token %}
                                    <div class="line">
                                        <div class="line_item item1">
                                            <div class="line_item_info">
                                                    <div class="protuct_tit">
                                                    <p class="line_item_text item_info">
                                                        <a href='/uk/product/{{ favourite.favourite_item }}'>
                                                            {{ favourite.uk_name }}
                                                        </a>
                                                    </p>
                                                    <div style='display: none;'><input type='text' name='delete' id='delete' value='{{ favourite.favourite_item }}'></div>
                                                </div> 
                                            </div>
                                            <div class="line_item_button">
                                                <a class="line_item_but " href='/uk/product/{{ favourite.favourite_item }}/'>
                                                    More
                                                </a>   
                                                <input type='submit' value='&#10060;'>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            {% endfor %}

                        {% if items == 0 %}
                            <p>Тут поки що нічого немає</p>
                        {% endif %}

                    </div>
                </div>
               
            </div>
        </div>
        {% else %}
    <h1 style="text-align: center; margin-top: 50px; margin-bottom: 50px;">404<br><a href='/uk' style="text-decoration: underline; color: blue !important;">Повернутися на головну!</a></h1>
    {% endif %}
    <div class="footer">
        {% include 'uk/footer.html' %}
    </div>
    
    {% endblock %}

</body>
</html>


