{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="{%  static  'shop/css/main/style.css'  %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    {% block content %}
    {% include 'productInfo/includes/navbar.html' %}
        {% if user.first_name %}
            <p>Имя: {{ user.first_name }}</p>
        {% else %}
            <p>Имя: не введено</p>
        {% endif %}
        {% if user.last_name %}    
            <p>Фамилия: {{ user.last_name }}</p>
        {% else %}
            <p>Фамилия: не введена</p>
        {% endif %}
            <p>Email: {{ user.email }}</p>
        <a href='orders'>Мои заказы</a>
        <a href='favourites'>Избранное</a>
        <a href='cart'>Моя корзина</a>


    {% include 'productInfo/includes/footer.html' %}
    {% endblock %}

</body>
</html>


