{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="{%  static  'shop/css/main/style.css'  %}">
    <link rel="stylesheet"  href="{%  static  'shop/css/accounts/profile/profile_style.css'  %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <title>Order</title>
    <script>
        function pickup(){
            document.getElementById('address').style.display ='none';
            document.getElementById('np').style.display ='none';
            document.getElementById('up').style.display ='none';
        }
        function novapochta(){
            document.getElementById('address').style.display ='block';
            document.getElementById('nova').style.display ='block';
            document.getElementById('ukr').style.display ='none';
        }
        function ukrpochta(){
            document.getElementById('address').style.display ='block';
            document.getElementById('nova').style.display ='none';
            document.getElementById('ukr').style.display ='block';
        }
    </script>
</head>
<body>
    {% include 'en/accounts/orderInfo/includes/navbar.html' %}
    {% if userId == account %}
    <div>
        <form method="POST" action="">
            {% csrf_token %}
            <p>First name: {{ user.first_name }}</p>
            <p>Last name: {{ user.last_name }}</p>
            <p>Email: {{ user.email }}</p>
            <p>Phone number: {{ user.phone_number }}</p>
            <label>Order: </label>
            <span style="white-space: pre-line">{{ order.заказ }}</span>
            <p>Total price: {{ order.сумма_заказа }} UAH</p>
            {% if order.confirm == 'unc' %}
            <div style="color:red; text-decoration:underline;"><p>Attention! If you leave this page, the order will not be confirmed and will be deleted after 30 minutes!</p></div>
            {% elif order.confirm == 'uc' %}
            <p>Order status: Processing</p>
            {% elif order.confirm == 'ac' %}
            <p>Order status: Confirmed by administrator</p>
            {% elif order.confirm == 'done' %}
            <p>Order status: Order completed</p>
            {% endif %}
            {% if order.delivery_type == None %}
            <p>Delivery Type: Not Chosen</p>
            {% elif order.delivery_type == 'Самовывоз' %}
            <p>Delivery Type: by yourself</p>
            {% elif order.delivery_type == 'Нова пошта' %}
            <p>Delivery Type: Nova Poshta</p>
            {% elif order.delivery_type == 'Укрпошта' %}
            <p>Delivery Type: Ukrposhta</p>
            {% endif %}
            {% if order.payment_type == None %}
            <p>Payment Type: Not Chosen</p>
            {% elif order.payment_type == 'Наличный'  %}
            <p>Payment Type: Cash</p>
            {% elif order.payment_type == 'Безналичный'  %}
            <p>Payment Type: Card</p>
            {% endif %}
            {% if order.delivery_type == 'Нова пошта' %}
            <p>Nova Poshta department: {{ order.nova_pochta }}</p>
            <p>City: {{ order.city }}</p>
            <p>Street: {{ order.street }}</p>
            <p>House: {{ order.house }}</p>
            {% elif order.delivery_type == 'Укрпошта' %}
            <p>Ukrposhta index: {{ order.ukr_pochta }}</p>
            <p>City: {{ order.city }}</p>
            <p>Street: {{ order.street }}</p>
            <p>House: {{ order.house }}</p>
            {% endif %}
            {% if order.confirm == 'unc' %}
            <input type='hidden' name='editid' value='{{ order.id }}'>
            <input type="submit" name='edit' value='Finish making order'>
            {% endif %}
        </form>
    </div>
    {% else %}
    <h1 style="text-align: center; margin-top: 50px; margin-bottom: 50px;">404<br><a href='/en' style="text-decoration: underline; color: blue !important;">Go Back!</a></h1>
    {% endif %}
    {% include 'en/accounts/profilePage/includes/footer.html' %}
</body>
</html>