/* body {
  height: 100vh;
}
#username {
  width: 300px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
#password {
  width: 300px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
.reg_body {
  width: 100%;
  height: 72vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
form {
  margin: 0 auto;
  display: block;
  width: 400px;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
label {
  font-size: 24px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  margin-top: 15px;
}
.formbl {
  margin: 0 auto;
  width: 300px;
} */

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.loginform {
  border: 3px solid #f1f1f1;
}
.loginbutton {
  background-color: #3ba3d0;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.loginbutton:hover {
  opacity: 0.8;
}
.containerlogin {
  padding: 16px;
  margin-top: 40px;
  margin-bottom: 40px;
}
span.psw {
  float: right;
  padding-top: 16px;
}
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
}
.logintext {
  text-align: center;
  margin: 10px auto;
}
.reg_body {
}
.reg-tit {
  margin: auto;
  width: 150px;
}
h2 {
  text-align: center;
}
.reg_name_bl {
  width: 100%;
}
.reg_name {
  /* display: inline-block; */
  width: max-content;
  margin: 0 auto;
}
.reg_name input {
  width: 200px;
}
.reg_forms {
  display: block;
}

.reg_em_bl {
  width: 100%;
}
.reg_em {
  /* display: inline-block; */
  width: max-content;
  margin: 0 auto;
}
.reg_em input {
  width: 200px;
}
.reg_forms {
  display: block;
}

.reg_warn {
  width: max-content;
  margin: 0 auto;
}

.reg_password_bl {
  width: 100%;
}
.reg_password {
  /* display: inline-block; */
  width: max-content;
  margin: 0 auto;
}
.reg_password input {
  width: 300px;
}
.reg_forms {
  display: block;
}
.reg_but {
  width: max-content;
  margin: 0 auto;
}

/*login*/

.log_inf label {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
.log_lab {
  width: max-content;
  margin: 0 auto;
}
.log_inp {
  width: max-content;
  margin: 0 auto;
}

.log_inf input {
  width: 350px;
}
.formbl {
  margin-top: 20px;
  margin-bottom: 20px;
}
