{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{%  static  'shop/css/productInfo/style.css'  %}">
    <link rel="stylesheet"  href="{%  static  'shop/css/main/style.css'  %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <title>LuxonSport</title>
</head>
<body>
    {% block content %}
    {% include 'productInfo/includes/navbar.html' %}

    <div class='main'>
        <div class="conteiner">
            <div class="main_all">
                <div class="main_all_top">
                    <div class="main_l">
                        <div class='mainImage'>
                            <img src='{{ продукт.ссылка_изображения }}'>
                        </div> 
                    </div>
                    <div class="main_r">
                        <div class='productLabel'>
                            <p>
                                {{ продукт.название_позиции }}
                            </p>
                        </div>
                        <div class='small_block'>
                            <div class="product_price">
                                {% if  продукт.цена == None %}
                                    <p>
                                        Цена формируется
                                    </p>
                                {% else %}
                                    <h3>
                                        {{ продукт.цена }} {{ продукт.валюта }}
                                    </h3>
                                {% endif %}
                            </div>
                            <div class="availability">
                                {% if  продукт.наличие == '+' %}
                                    <p>
                                        Есть в наличии
                                    </p>
                                {% else %}
                                    <p>
                                        Нет в наличии
                                    </p>
                                {% endif %}
                            </div>  
                            {% if user_id %} 
                            {% if  продукт.цена == None %}
                                <h3>Ожидается поставка</h3>
                            {% else %}
                                <div class="inp_cart">
                                    <form action="" method='post' >
                                        {% csrf_token %}
                                        <div style='display: none;'><input type='text' name='add_id' id='add_id' value='{{ продукт.id }}'></div>
                                        <div style='display: none;'><input type='text' name='add_name' id='add_name' value='{{ продукт.название_позиции }}'></div>
                                        <div style='display: none;'><input type='text' name='add_price' id='add_price' value='{{ продукт.цена }}'></div>
                                        <div style='display: none;'><input type='text' name='add_currency' id='add_currency' value='{{ продукт.валюта }}'></div>
                                        <div><label>Количество: </label><input type='number' name='how_much_to_add' id='how_much_to_add' value="1"></div>
                                        <input type='hidden' name='add_to_cart' id='add_to_cart' value='add_to_cart'>
                                        <input class='inp_button' type='submit' value='Добавить в корзину!'>
                                    </form>  
                                </div>
                            {% endif %}
                            {% else %}
                            <div class="inp_cart">
                                <p><a style='color: blue !important;' href='/accounts/login'>Ввойдите</a> в аккаунт или <a style='color: blue !important;' href='/accounts/register'>зарегестрируйтесь</a> для покупки
                                </p> 
                            </div>
                            {% endif %}
                            {% if user_id %}
                            <form action="" method='post' >
                                {% csrf_token %}
                                <div style='display: none;'><input type='text' name='favourite_add_id' id='favourite_add_id' value='{{ продукт.id }}'></div>
                                <div style='display: none;'><input type='text' name='favourite_add_name' id='favourite_add_name' value='{{ продукт.название_позиции }}'></div>
                                <div style='display: none;'><input type='text' name='favourite_add_price' id='favourite_add_price' value='{{ продукт.цена }}'></div>
                                <div style='display: none;'><input type='text' name='favourite_add_currency' id='favourite_add_currency' value='{{ продукт.валюта }}'></div>
                                <input type='hidden' name='add_to_favourite' id='add_to_favourite' value='add_to_favourite'>
                                <input class='favourite_inp_button' type='submit' value='Добавить в избранное!'>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="main_all_bot" id="description">
                    <p>Описание</p>
                    <p>{{ продукт.описание }}</p>
                </div>
                <button class="desc_but" class="but" onclick="getMore()">
                    &#8597;
                </button>
            </div>
        </div>
    </div>

    {% include 'productInfo/includes/footer.html' %}
    {% endblock %}
    </div>
    <script>
        function getMore() {
        document.getElementById("description").classList.toggle("all_description");
}
    </script>
</body>
</html>
