{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{%  static  'shop/css/productInfo/style.css'  %}">
    <link rel="stylesheet"  href="{%  static  'shop/css/main/style.css'  %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <title>LuxonSport</title>
</head>
<body>
    {% block content %}
    {% include 'productInfo/includes/navbar.html' %}

    <div class='main'>
        <div class="conteiner">
            <div class="main_all">
                <div class="main_all_top">
                    <div class="main_l">
                        <div class='mainImage'>
                            <img src='{{ продукт.ссылка_изображения }}'>
                        </div> 
                    </div>
                    <div class="main_r">
                        <div class='productLabel'>
                            <p>
                                {{ продукт.название_позиции }}
                            </p>
                        </div>
                        <div class="product_price">
                            <p>
                                {{ продукт.цена }}
                            </p>
                        </div>
                        <div class="availability">
                            <p>
                                {{ продукт.наличие }}
                            </p>
                        </div>   
                        <div class="inp_cart">
                            <form action="" method='post' >
                                {% csrf_token %}
                                <div style='display: none;'><input type='text' name='add' id='add' value='{{ продукт.id }}'></div>
                                <input type='submit' class="input_icon" value=' '>
                            </form>  
                        </div>
                        
                    </div>
                </div>
                <div class="main_all_bot" id="description">
                    <p>Описание</p>
                    <p>{{ продукт.описание }}</p>
                </div>
                <button class="desc_but" class="but" onclick="myFunction()">
                    &#8597;
                </button>
            </div>
        </div>
    </div>

    {% include 'productInfo/includes/footer.html' %}
    {% endblock %}
    </div>
    <script>
        function myFunction() {
        document.getElementById("description").classList.toggle("all_description");
}
    </script>
</body>
</html>
