{% load static %}
{% block content %}
<div class="introADD">
    <header>
        <div class="conteiner">
            <div class="intro_header">
                <!-- <div class="header_logo">
                    <img id="header_logo_img" src="img\logo2.png" alt="">
                </div> -->
                <div class="header_link">
                    <nav class="navv">
                        <a href='/' class='nav_link'>Главная страница</a>
                        <a href="/about" class="nav_link">Про нас</a>
                        <a href="/products" class="nav_link">Каталог</a>
                        <a href="/achievements" class="nav_link">Достижения</a>
                        <a href="" class="nav_link">Контакты</a>
                    </nav>
                    {% if not user.is_authenticated %}
                    <div class="header_but">
                        <a href="/accounts/login" class="headerbut_log">
                            Войти
                        </a>
                    </div>
                    {% endif %}
                    {% if not user.is_authenticated %}
                    <div class="header_but">
                        <a href="/accounts/register" class="headerbut_log">
                            Регистрация
                        </a>
                    </div>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <div class="header_but">
                        <a href="/accounts/logout" class="headerbut_log">
                            Выйти
                        </a>
                    </div>
                    {% endif %}
                </div>
                
            </div>
        </div>
    </header>
</div>
{% endblock %}