{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="{%  static  'shop/css/main/style.css'  %}">
    <link rel="stylesheet"  href="{%  static  'shop/css/accounts/profile/profile_style.css'  %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <link rel="icon" href="{%  static  'shop/img/logo.png'  %}" type="image/x-icon">
    <title>Заказ</title>
    <meta name="keywords" content="INTUITIVE">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <meta property="og:title" content="Luxon">
    <meta property="og:description" content="LuxonSports">
    <meta property="og:image" content="{% static '' %}shop/new/images/logo2.png">
    <link rel="stylesheet" href="{% static '' %}shop/new/nicepage.css" media="screen">
    <link rel="stylesheet" href="{% static '' %}shop/new/Главная.css" media="screen">
    <script class="u-script" type="text/javascript" src="{% static '' %}shop/new/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static '' %}shop/new/nicepage.js" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Site1",
        "sameAs": []
     	}
    </script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:type" content="website">
    <script>
        function pickup(){
            document.getElementById('address').style.display ='none';
            document.getElementById('np').style.display ='none';
            document.getElementById('up').style.display ='none';
        }
        function novapochta(){
            document.getElementById('address').style.display ='block';
            document.getElementById('nova').style.display ='block';
            document.getElementById('ukr').style.display ='none';
        }
        function ukrpochta(){
            document.getElementById('address').style.display ='block';
            document.getElementById('nova').style.display ='none';
            document.getElementById('ukr').style.display ='block';
        }
    </script>
</head>
<body>
    {% include 'ru/accounts/header.html' %}
    {% if userId == account %}
    <div>
        <div class="conteiner">
            <div class="confirm_order">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="con_order_tit">
                        <span style="white-space: pre-line">{{ order.order_ru }}</span>
                    </div>
                    <div class="con_order_info_top">
                        <div class="con_order_privat_info">
                            <p>Имя: {{ user.first_name }}</p>
                            <p>Фамилия: {{ user.last_name }}</p>
                            <p>Почта: {{ user.email }}</p>
                            <p>Телефон: {{ user.phone_number }}</p>
                        </div>
                        <div class="con_order_delivery_pay">
                            
                            
                            {% if order.confirm == 'uc' %}
                            <p>Статус заказа: В обработке</p>
                            {% elif order.confirm == 'ac' %}
                            <p>Статус заказа: Подтвержден администратором</p>
                            {% elif order.confirm == 'done' %}
                            <p>Статус заказа: Заказ выполнен</p>
                            {% endif %}

                            {% if order.delivery_type == None %}
                            <p>Тип доставки: не обраний</p>
                            {% elif order.delivery_type == "Самовывоз" %}
                            <p>Тип доставки: Самовывоз</p>
                            {% elif order.delivery_type == "Нова Пошта" %}
                            <p>Тип доставки: Новая Почта</p>
                            {% elif order.delivery_type == "Укрпошта" %}
                            <p>Тип доставки: Укрпочта</p>
                            {% endif %}


                            {% if order.payment_type == None %}
                            <p>Тип оплати: не обраний</p>
                            {% elif order.payment_type == 'Наличный'%}
                            <p>Тип оплати: Наличными</p>
                            {% else %}
                            <p>Тип оплати: Безналичный</p>
                            {% endif %}

                            {% if order.delivery_type == 'Нова пошта' %}
                            <p>Отделение Новой Почты: {{ order.nova_pochta }}</p>
                            <p>Город: {{ order.city }}</p>
                            <p>Улица: {{ order.street }}</p>
                            <p>Дом: {{ order.house }}</p>
                            {% elif order.delivery_type == 'Укрпошта' %}
                            <p>Почтовый индекс: {{ order.ukr_pochta }}</p>
                            <p>Город: {{ order.city }}</p>
                            <p>Улица: {{ order.street }}</p>
                            <p>Дом: {{ order.house }}</p>
                            {% endif %}
                            
                        </div>
                    </div>
                    <div class="con_order_info_bot">
                        {% if order.confirm == 'unc' %}
                        <div style="color:red; text-decoration:none;">
                            <p>Внимание! статус заказа: Не подтвержден пользователем. Пожалуйста, завершите оформление заказа.</p>
                        </div>
                        {% endif %}
                        <div class="confirm_btn">
                            {% if order.confirm == 'unc' %}
                            <input type='hidden' name='editid' value='{{ order.id }}'>
                            <input type="confirm_order" name='edit' value='Завершить оформление заказа' readonly>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% else %}
    <h1 style="text-align: center; margin-top: 50px; margin-bottom: 50px;">404<br><a href='/' style="text-decoration: underline; color: blue !important;">Go Back!</a></h1>
    {% endif %}
    {% include 'ru/accounts/footer.html' %}
</body>
</html>