{% load static %}
{% block rucontent %}
<div class="footer">
    <div class="conteiner">
        <div class="footer_items">
            <div class="footer_products">
                <nav class="footer_navv">
                    <a class="footer_link" href="/en/collaboration">Співробітництво</a>
                    <a class="footer_link" href="/en/guarantees">Гарантії</a>
                    <a class="footer_link" href="/en/products">Продукти</a>
                    <a class="footer_link" href="/en/achievements">Досягнення</a>
                </nav>
            </div>
            
                <div class="footer_contact">
                    <div class="footer_contact-item">
                        +380963265300
                    </div>
                    <div class="footer_contact_item">
                        <a href="" class="footer_link2">luxonSport@gmail.com</a>
                    </div>
                </div>
                <div class="footer_media">
                    <div class="footer_media_item">
                        <a href='https://www.instagram.com/' target="_blank" class="fab fa-instagram"></a>
                    </div>
                    <div class="footer_media_item">
                        <a href='https://www.facebook.com/' target="_blank" class="fab fa-facebook-square"></a>
                    </div>
                    <div class="footer_media_item">
                        <a href='https://www.youtube.com/' target="_blank" class="fab fa-youtube"></a>
                    </div>
                </div>
            
            
        </div>
       
    </div>

    {% endblock %}