.all_products {
  width: 100%;
  display: flex;
  /* min-height: 100vh; */
}
.helper {
  width: 30%;
}

.body_inf {
  display: flex;
  flex-direction: row;
  /* overflow: hidden; */
  padding-bottom: 50px;
  width: 70%;
}
.content_products {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.error {
  text-align: center;
}
.line {
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 20px;
  margin-top: 30px;
  height: 500px;
}
.line_item {
  display: inline-block;
  width: 250px;
  height: 500px;
  border: 2px solid #c6c6c6;
  padding: 10px;
  transition: transform 0.5s;
}
.line_item_info {
  height: 90%;
}
.line_item:hover {
  transform: scale(1.1);
  z-index: 1;
  transition: transform 0.5s;
}
.line .line_item .line_item_img {
  text-align: center;
}
.line .line_item img {
  width: 200px;
  height: 250px;
  padding-top: 10px;
}
.item_info {
  padding-left: 7px;
  font-family: monospace;
  margin: 10px auto;
}
.line_item_text {
  font-size: 22px;
}
.line_item_price {
  font-size: 22px;
}
.line .line_item {
  padding: 0;
  margin-left: 7px;
  margin-top: 18px;
  font-size: 16px;
}
.protuct_tit {
  width: 200px;
  height: 82px;
  overflow: hidden;
}
.line_item_button {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.line_item_but {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #cc0000;
  color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #cc0000;
  display: inline-block;
  margin: auto;
}
.line_itembl {
  margin: auto;
}
.line_item_but:hover {
  color: #000;
  border-color: #000;
}
.search {
  width: 90%;
  margin: 0 auto;
}
input[type="search"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.form_search {
  display: flex;
  width: 100%;
}
.searchtextdiv {
  width: 100%;
}
.searchbuttondiv {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 30px;
}

.user_bl_img img {
  height: 15px;
}
/*navbar*/

.help_search {
  margin-top: 30px;
}

.category-content {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.category-content p {
  text-decoration: none;
  color: black;
  font-family: monospace;
  font-size: 24px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  cursor: pointer;
  justify-content: center;
}
.category-content p {
  text-decoration: none;
  color: #000;
  vertical-align: top;
  position: relative;
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.category-content p:hover {
  color: #cc0000;
}

.category-content p:after {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  background-color: #cc0000;
  opacity: 0;
  z-index: 1;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.category-content p:hover::after {
  opacity: 1;
}

.dropdown-content {
  display: none;
}
.dropdown-content ul {
  /* flex-direction: column; */
  display: block;
}
.dropdown-content a {
  text-decoration: none;
  outline: none;
  display: block;
  margin-top: 15px;
  font-size: 25px;
  color: #000;
  font-family: monospace;
}
.show {
  display: block;
}

/*filter*/
.help_filters {
  margin-top: 40px;
  font-family: monospace;
  text-align: center;
}
.help_filters p {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.help_filters label {
  font-size: 20px;
}
.price_lab {
  display: flex;
  flex-direction: column;
}
.availability_lab {
  display: block;
}
.filter_but {
  margin-top: 20px;
}
