{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="{%  static  'shop/css/main/style.css'  %}">
    <link rel="stylesheet"  href="{%  static  'shop/css/accounts/editProfile/edit_profile_style.css'  %}">
    <link rel="stylesheet" href="{% static '' %}shop/newProf/nicepage.css" media="screen">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <link rel="icon" href="{%  static  'shop/img/logo.png'  %}" type="image/x-icon">
    <title>Edit Your Profile</title>
    <meta name="keywords" content="INTUITIVE">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <meta property="og:title" content="Luxon">
    <meta property="og:description" content="LuxonSports">
    <meta property="og:image" content="{% static '' %}shop/new/images/logo2.png">
    <!-- <link rel="stylesheet" href="{% static '' %}shop/new/nicepage.css" media="screen"> -->
    <link rel="stylesheet" href="{% static '' %}shop/new/Главная.css" media="screen">
    <script class="u-script" type="text/javascript" src="{% static '' %}shop/new/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static '' %}shop/new/nicepage.js" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Site1",
        "sameAs": []
     	}
    </script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:type" content="website">
    <style>
        .content{
            overflow: hidden;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
    </style>
</head>
<body>
    <div class='content'>
        {% include 'en/accounts/header.html' %}
        <div class="conteiner">
            <div class="redact_pass">
                <h1 class='main_label'>Edit password</h1>
                <form action="" method="POST" id="change_pass_form">
                    {% csrf_token %}
                    <label class="change_label">Enter old password: </label>
                    <input type='password' class="change_input" name='old_pwd' id='old_pwd' required>
                    <label class="change_label">Enter new passwort: </label>
                    <input type='password' class="change_input" name='new_pwd' id='new_pwd' required>
                    <label class="change_label">Confirm new password: </label>
                    <input type='password' name="repeat_new_pwd" class="change_input" id='repeat_new_pwd' required> 
                    <input type="submit" value='Save' class="change_input2">
                    {{ error_message }}       
                </form>
            </div>
        </div>
        
    </div>
    {% include 'en/accounts/footer.html' %}
</body>
</html>