{% load static %}
{% block rucontent %}
<div class="introADD">
    <header>
        <div class="conteiner">
            <div class="intro_header">
                <div class="header_link">
                    <div class="header_top">
                        <div class="header_top_img">
                            <div class="top_img">
                                <a href='/uk'><img src="{% static '' %}shop/img/logo2.png" alt=""></a>
                            </div>
                            
                        </div>
                        <nav class="navv">
                            <a href='/uk' class='nav_link_current'>Головна сторінка</a>
                            <a href="/uk/about" class="nav_link">Про нас</a>
                            <a href="/uk/products" class="nav_link">Каталог</a>
                            <a href="/uk/achievements" class="nav_link">Досягнення</a>
                            <a href="/uk/collaboration" class="nav_link">Співробітництво</a>
                            <a href="/uk/guarantees" class="nav_link">Гарантії</a>
                        </nav>
                        <div class="header_language">
                            <form action='' method="POST" id='language'>
                                {% csrf_token %}
                                <select form="language" name='language' onchange="this.form.submit()">
                                    <option value="" disabled selected>Оберіть мову</option>
                                    <option value="ru">Русский язык</option>
                                    <option value='en'>English</option>
                                    <option value='uk'>Українська мова</option>
                                </select>
                            </form>
                        </div>
                        
                        {% if user.is_authenticated %}
                        <div class="header_but">
                            <a href="/uk/accounts/logout" class="headerbut_log">
                                Вийти
                            </a>
                        </div>
                        {% endif %}
                    </div>
                    <div class="bop">
                        <div class="header_bot">
                            <div class="header_allcontact">
                                <div class="header_contact">
                                    <div class="header_contact_item">
                                        <p class="header_contact_num">+380963265300</p>
                                    </div>
                                    <div class="header_contact_item">
                                        <a href="" class="header_link2">luxonSport@gmail.com</a>
                                    </div>
                                </div>
                                <div class="header_media">
                                    <div class="header_media_item">
                                        <a href='https://www.instagram.com/' target="_blank" class="fab fa-instagram"></a>
                                    </div>
                                    <div class="header_media_item">
                                        <a href='https://www.facebook.com/' target="_blank" class="fab fa-facebook-square"></a>
                                    </div>
                                    <div class="header_media_item">
                                        <a href='https://www.youtube.com/' target="_blank" class="fab fa-youtube"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="header_infuser">
                            {% if user.is_staff %}
                            <div class="header_but">
                                <a href="/admin" class="headerbut_log">
                                    Адмін 
                                </a>
                            </div>
                            {% endif %}
                            {% if user.is_authenticated %}
                                <div style="color: aliceblue;" class="header_user">
                                    <div class="header_welcome">
                                        Ласкаво просимо: 
                                    </div>
                                    <div class="header_user_but">
                                        <a class="headerbut_log special" href='/ru/accounts/{{ user.id }}/'>
                                            {% if user.first_name %}
                                                {{ user.first_name }}
                                            {% else %}
                                                {{ user.username }}
                                            {% endif %}
                                        </a>
                                    </div>
                                   
                                </div>
                            {% endif %}
                            {% if not user.is_authenticated %}
                            <div class="header_but">
                                <a href="/ru/accounts/login" class="headerbut_log">
                                    Увійти
                                </a>
                            </div>
                            {% endif %}
                            {% if not user.is_authenticated %}
                            <div class="header_but">
                                <a href="/ru/accounts/register" class="headerbut_log">
                                    Реєстрація
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    
                    
                    
                </div>
                
            </div>
        </div>
    </header>
</div>
{% endblock %}