{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{%  static  'shop\css\style.css'  %}">
    <link rel="stylesheet"  href="{%  static  'shop\css\productMain\products_style.css'  %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <title>LuxonSport</title>
</head>
<body>
    <div class="conteiner">
        <div class="all_products">
        <div class="helper">
            <div class="help_search">
                <div class='search'>
                    <form method='POST' action='' class="form_search">
                        {% csrf_token %}
                        <div class='searchtextdiv'>
                            <input type='search' name='searchtext' class="searchtext">
                        </div>
                        <div class='searchbuttondiv'>
                            <input type='submit' name='search' class='searchbutton' value='Search'>
                        </div>
                    </form>
                </div>
            </div>
            <div class="help_filters">
                <form method='POST' action=''>
                    {% csrf_token %}
                    <div class="filter">
                    <div class="filter_set">
                        {% if withprice == 'no' and available == 'no' %}
                        <p>Ціна</p>
                        <div class="price_lab">
                            <div class="filter_act">
                                <label>З ціною</label>
                            <input type='radio' name='pricefilter' value='Цена есть'>
                            </div>
                            <div class="filter_act">
                            <label>Без ціни</label>
                            <input type='radio' name='pricefilter' value='Цены нет' checked>
                            </div>
                        </div>
                        <p>Є в наявності</p>
                        <div class="availability_lab">
                            <div class="filter_act">
                            <label>Є в наявності</label>
                            <input type='radio' name='availablefilter' value='Есть'>
                            </div>
                            <div class="filter_act">
                            <label>Немає в наявності</label>
                            <input type='radio' name='availablefilter' value='Нету' checked>
                            </div>
                        </div>
                        {% elif withprice == 'no' and available == 'yes' %}
                        <p>Ціна</p>
                        <div class="price_lab">
                            <div class="filter_act">
                                <label>З ціною</label>
                            <input type='radio' name='pricefilter' value='Цена есть'>
                            </div>
                            <div class="filter_act">
                            <label>Без ціни</label>
                            <input type='radio' name='pricefilter' value='Цены нет' checked>
                            </div>
                        </div>
                        <p>Є в наявності</p>
                        <div class="availability_lab">
                            <div class="filter_act">
                            <label>Є в наявності</label>
                            <input type='radio' name='availablefilter' value='Есть' checked>
                            </div>
                            <div class="filter_act">
                            <label>Немає в наявності</label>
                            <input type='radio' name='availablefilter' value='Нету' >
                            </div>
                        </div>
                        {% elif withprice == 'yes' and available == 'no' %}
                        <p>Ціна</p>
                        <div class="price_lab">
                            <div class="filter_act">
                                <label>З ціною</label>
                            <input type='radio' name='pricefilter' value='Цена есть' checked>
                            </div>
                            <div class="filter_act">
                            <label>Без ціни</label>
                            <input type='radio' name='pricefilter' value='Цены нет' >
                            </div>
                        </div>
                        <p>Є в наявності</p>
                        <div class="availability_lab">
                            <div class="filter_act">
                            <label>Є в наявності</label>
                            <input type='radio' name='availablefilter' value='Есть'>
                            </div>
                            <div class="filter_act">
                            <label>Немає в наявності</label>
                            <input type='radio' name='availablefilter' value='Нету' checked>
                            </div>
                        </div>
                        {% elif withprice == 'yes' and available == 'yes' %}
                        <p>Ціна</p>
                        <div class="price_lab">
                            <div class="filter_act">
                                <label>З ціною</label>
                            <input type='radio' name='pricefilter' value='Цена есть' checked>
                            </div>
                            <div class="filter_act">
                            <label>Без ціни</label>
                            <input type='radio' name='pricefilter' value='Цены нет' >
                            </div>
                        </div>
                        <p>Є в наявності</p>
                        <div class="availability_lab">
                            <div class="filter_act">
                            <label>Є в наявності</label>
                            <input type='radio' name='availablefilter' value='Есть' checked>
                            </div>
                            <div class="filter_act">
                            <label>Немає в наявності</label>
                            <input type='radio' name='availablefilter' value='Нету'>
                            </div>
                        </div>
                        {% elif withprice == 'spec' and available == 'yes' %}
                        <p>Ціна</p>
                        <div class="price_lab">
                            <div class="filter_act">
                                <label>З ціною</label>
                            <input type='radio' name='pricefilter' value='Цена есть'>
                            </div>
                            <div class="filter_act">
                            <label>Без ціни</label>
                            <input type='radio' name='pricefilter' value='Цены нет'>
                            </div>
                        </div>
                        <p>Є в наявності</p>
                        <div class="availability_lab">
                            <div class="filter_act">
                            <label>Є в наявності</label>
                            <input type='radio' name='availablefilter' value='Есть'checked>
                            </div>
                            <div class="filter_act">
                            <label>Немає в наявності</label>
                            <input type='radio' name='availablefilter' value='Нету' >
                            </div>
                        </div>
                        {% elif withprice == 'spec' and available == 'no' %}
                        <p>Ціна</p>
                        <div class="price_lab">
                            <div class="filter_act">
                                <label>З ціною</label>
                            <input type='radio' name='pricefilter' value='Цена есть'>
                            </div>
                            <div class="filter_act">
                            <label>Без ціни</label>
                            <input type='radio' name='pricefilter' value='Цены нет'>
                            </div>
                        </div>
                        <p>Є в наявності</p>
                        <div class="availability_lab">
                            <div class="filter_act">
                            <label>Є в наявності</label>
                            <input type='radio' name='availablefilter' value='Есть'>
                            </div>
                            <div class="filter_act">
                            <label>Немає в наявності</label>
                            <input type='radio' name='availablefilter' value='Нету' checked>
                            </div>
                        </div>
                        {% elif withprice == 'spec' and available == 'spec' %}
                        <p>Ціна</p>
                        <div class="price_lab">
                            <div class="filter_act">
                                <label>З ціною</label>
                            <input type='radio' name='pricefilter' value='Цена есть'>
                            </div>
                            <div class="filter_act">
                            <label>Без ціни</label>
                            <input type='radio' name='pricefilter' value='Цены нет' >
                            </div>
                        </div>
                        <p>Є в наявності</p>
                        <div class="availability_lab">
                            <div class="filter_act">
                            <label>Є в наявності</label>
                            <input type='radio' name='availablefilter' value='Есть'>
                            </div>
                            <div class="filter_act">
                            <label>Немає в наявності</label>
                            <input type='radio' name='availablefilter' value='Нету' >
                            </div>
                        </div>
                        {% elif withprice == 'yes' and available == 'spec' %}
                        <p>Ціна</p>
                        <div class="price_lab">
                            <div class="filter_act">
                                <label>З ціною</label>
                            <input type='radio' name='pricefilter' value='Цена есть' checked>
                            </div>
                            <div class="filter_act">
                            <label>Без ціни</label>
                            <input type='radio' name='pricefilter' value='Цены нет'>
                            </div>
                        </div>
                        <p>Є в наявності</p>
                        <div class="availability_lab">
                            <div class="filter_act">
                            <label>Є в наявності</label>
                            <input type='radio' name='availablefilter' value='Есть'>
                            </div>
                            <div class="filter_act">
                            <label>Немає в наявності</label>
                            <input type='radio' name='availablefilter' value='Нету'>
                            </div>
                        </div>
                        {% elif withprice == 'no' and available == 'spec' %}
                        <p>Ціна</p>
                        <div class="price_lab">
                            <div class="filter_act">
                                <label>З ціною</label>
                            <input type='radio' name='pricefilter' value='Цена есть'>
                            </div>
                            <div class="filter_act">
                            <label>Без ціни</label>
                            <input type='radio' name='pricefilter' value='Цены нет' checked>
                            </div>
                        </div>
                        <p>Є в наявності</p>
                        <div class="availability_lab">
                            <div class="filter_act">
                            <label>Є в наявності</label>
                            <input type='radio' name='availablefilter' value='Есть'>
                            </div>
                            <div class="filter_act">
                            <label>Немає в наявності</label>
                            <input type='radio' name='availablefilter' value='Нету'>
                            </div>
                        </div>
                        {% endif  %}
                    </div>
                    <div class="filter_but">
                        <input type='submit' name='applyfilters' value='Apply filters'>
                        <input type='submit' name='nofilters' value='Clear filters'>
                    </div>
                </div>
                </form>
            </div>
            <div class="help_category">
                <div class="category">
                    <ul class="categories">
                        {% for i in category %}
                            <li>{{ i.category_name_uk }}
                                <ul class="subcategories">
                                    {% for j in i.подкатегория.all %}
                                        <li>
                                            <form method="POST", action="">
                                                {% csrf_token %}
                                                <input type='hidden' name='categoryid' value='{{ j.subcategory_id }}'>
                                                <input type='submit' name='categoryname' value='{{ j.subcategory_name_uk }}'>
                                            </form>
                                        </li>
                                        {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
        </div>
        <div class="body_inf">    
            <div class="content_products">
                {{ error_message }}
                        {% for продукт in продукты %}
                            <div class="line">
                                <div class="line_item item1">
                                    <div class="line_item_info">
                                        <a href='/uk/product/{{ продукт.id }}/'><div class="line_item_img"><img src="{{ MEDIA_URL }}{{ продукт.image }}" alt=""></div></a> 
                                        <div class="protuct_tit">
                                            <p class="line_item_text item_info">
                                                {{ продукт.название_позиции_укр }}
                                            </p>
                                        </div> 
                                        {% if продукт.наличие == 'a' or продукт.наличие == '+' %}
                                            <p class="item_info">
                                                Є в наявності
                                            </p>
                                        {% elif продукт.наличие == '-' or None %}
                                            <p class=" item_info">
                                                Немає в наявності
                                            </p>
                                        {% else %}
                                            <p class="item_info">
                                                Є в наявності
                                            </p>
                                        {% endif %}
                                        {% if продукт.цена == None or продукт.валюта == None %}
                                            <p class="line_item_price item_info">
                                                Ціна формується
                                            </p> 
                                        {% else %}  
                                            <p class="line_item_price item_info">
                                                {{ продукт.цена  }} {{ продукт.валюта }}
                                            </p>
                                        {% endif %}
                                    </div>
                                    <div class="line_item_button">
                                        <a class="line_item_but " href='/uk/product/{{ продукт.id }}/'>
                                            Більше
                                        </a>   
                                    </div>
                                </div>
                            </div>
                        {% endfor %}  
            </div>
        </div>
    </div>
    </div>

</body>
<script>
    function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}
function myFunction2() {
    document.getElementById("myDropdown2").classList.toggle("show");
}
function myFunction3() {
    document.getElementById("myDropdown3").classList.toggle("show");
}
function myFunction4() {
    document.getElementById("myDropdown4").classList.toggle("show");
}
function myFunction5() {
    document.getElementById("myDropdown5").classList.toggle("show");
}
function myFunction6() {
    document.getElementById("myDropdown6").classList.toggle("show");
}

</script>
</html>