 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/gym.jpg");
  background-position: 50% 50%;
}
.imgLogin{
  width: 27%;
  height: 27%;
  border-radius: 90%;
}
.imgLogin img{
  margin-left: 0;
  margin-top: 0;
}
.u-section-1 .u-sheet-1 {
  min-height: 800px;
}
.u-section-1 .u-text-1 {
  font-weight: normal;
  font-size: 6rem;
  margin: 294px auto 0 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  text-transform: uppercase;
  background-image: none;
  border-style: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-weight: normal;
  margin: 33px auto 60px;
  padding: 9px 36px 10px 35px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 149px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 61px;
  }
}

@media (max-width: 991px) {
  .u-section-1{
    margin-top: 40px;
  }
  .u-section-1 .u-sheet-1 {
    min-height: 574px;
  }
}

@media (max-width: 770px) {
  .u-section-1{
    margin-top: 40px;
  }
  .u-section-1 .u-sheet-1 {
    min-height: 632px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 180px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1{
    margin-top: 25px;
  }
  .u-section-1 .u-sheet-1 {
    min-height: 510px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 148px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 62px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 721px;
}

.u-section-2 .u-text-1 {
  margin: 46px auto 0;
}

.u-section-2 .u-gallery-1 {
  height: 469px;
  width: 910px;
  margin: 46px auto 0;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  font-size: 1.5rem;
  margin: 35px auto 46px;
  padding: 0;
}

@media (max-width: 991px) {
  .u-section-2 .u-gallery-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-gallery-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 265px;
}

.u-section-3 .u-text-1 {
  margin: 41px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin: 30px auto 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-weight: normal;
  margin: 40px auto 41px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 198px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 28px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 28px;
    margin-bottom: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 226px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-bottom: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 268px;
  }

  .u-section-3 .u-btn-1 {
    margin-bottom: 54px;
  }
}