.u-section-1 {
  min-height: 331px;
  background-image: none;
}

.u-section-1 .u-line-1 {
  height: 3px;
  margin-top: -1px;
  margin-bottom: 0;
  transform-origin: left center 0px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 28px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 273px;
}

.u-section-1 .u-container-layout-1 {
  padding: 21px 9px;
}

.u-section-1 .u-text-1 {
  font-weight: normal;
  margin: 0 40px 0 20px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 270px;
}

.u-section-1 .u-container-layout-2 {
  padding: 21px 30px;
}

.u-section-1 .u-text-2 {
  font-weight: normal;
  text-align: left;
  margin: 0 20px 0 0;
}
.u-container-layout {
  border-radius: 10px;
}
.u-container-layout:hover {
  box-shadow: 0 0 20px rgb(175, 174, 174);
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 283px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-top: 36px;
    margin-bottom: 36px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 225px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 223px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 158px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 41px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 258px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 71px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 21px;
    margin-left: auto;
    margin-bottom: 23px;
  }
}
.u-section-2 {
  margin-top: 25px;
  background-image: none;
  width: 320px;
  height: 540px;
}
.u-section-2 .u-sheet-1 {
  min-height: 517px;
}
.cont {
  padding-top: 25px;
}
.product_list {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.u-section-2 .u-group-1 {
  width: 320px;

  min-height: 540px;
  height: auto;
  /* margin: 60px auto 35px 63px; */
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 29px 26px;
}
.u-section-2 .u-image-1 img {
  width: 250px;
  height: 250px;
}
.u-section-2 .u-image-1 {
  margin: 0 auto;
  width: 250px !important;
  height: 250px !important;
}
.searchButton {
  margin-left: -50px;
  height: 20px;
  width: 50px;
}
.searchField {
  width: 200px;
  height: 20px;
  padding-right: 50px;
}
.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  margin: 21px 0 0;
}
.u-section-3 {
  margin-top: 80px;
}
.u-section-2 .u-text-2 {
  margin: 8px auto 0;
}
.u-btn-1 {
  position: absolute;
  bottom: 20px;
  left: calc(50% - 77px);
}
.u-section-2 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 15px auto 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    /* margin-left: 44px; */
  }
}
.u-section-3 .u-sheet-1 {
  min-height: 103px;
  padding-top: 15px;
}

.u-section-3 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0, 0, 0, 0);
  background-image: none;
  margin: 29px auto 0 172px;
}

.grey-background {
  background-color: rgb(232, 232, 232);
}

.u-section-3 .u-btn-2 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  transition-duration: 0.25s;
  box-shadow: 2px 0 0 0 rgba(0, 0, 0, 0);
  font-size: 1rem;
  background-image: none;
  margin: -46px 183px 0 auto;
}

.u-section-3 .u-text-1 {
  margin: -36px auto 39px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-top: -45px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-btn-1 {
    margin-left: 29px;
    padding: 9px 6px 11px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: -46px;
    margin-right: 29px;
    padding: 9px 11px 11px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -35px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 139px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 13px;
    margin-bottom: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 158px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 19px;
    margin-left: auto;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 29px;
    margin-right: auto;
  }

  .u-section-3 .u-text-1 {
    margin-top: -74px;
    margin-bottom: 60px;
  }
}

.u-section-3 .u-btn-2,
.u-section-3 .u-btn-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style,
    border-width, box-shadow, text-shadow, opacity, border-radius, stroke,
    border-color, font-size, font-style, font-weight, text-decoration,
    letter-spacing, transform, background-image, background-size,
    background-position;
}

.u-section-3 .u-btn-2.u-btn-2.u-btn-2:hover {
  box-shadow: 2px 2px 8px 0 rgba(128, 128, 128, 1) !important;
}

.u-section-3 .u-btn-2.u-btn-2.u-btn-2.hover {
  box-shadow: 2px 2px 8px 0 rgba(128, 128, 128, 1) !important;
}

.u-section-3 .u-btn-1,
.u-section-3 .u-btn-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style,
    border-width, box-shadow, text-shadow, opacity, border-radius, stroke,
    border-color, font-size, font-style, font-weight, text-decoration,
    letter-spacing, transform, background-image, background-size,
    background-position;
}

.u-section-3 .u-btn-1.u-btn-1.u-btn-1:hover {
  box-shadow: 2px 2px 8px 0 rgba(128, 128, 128, 1) !important;
}

.u-section-3 .u-btn-1.u-btn-1.u-btn-1.hover {
  box-shadow: 2px 2px 8px 0 rgba(128, 128, 128, 1) !important;
}

/*helper*/

/* .helper {
  
} */
.helper {
  display: flex;
}
.dropdown_cat {
  position: relative;
}
.dropdown_menu_cat {
  display: none;
  position: absolute;
  background-color: rgb(250, 250, 250);
  left: -500%;
  z-index: 20;
  width: 900px;
}
.dropdown_cat:hover .dropdown_menu_cat {
  display: flex;
}
.help_category {
  /* width: 65%; */
}
.help_filters {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.subcategories {
  list-style-type: none;
  max-width: 840px;
}

.categories {
  list-style-type: none;
}
.category_item {
  font-size: 18px;
  margin-top: 7px;
}
.sub_cat form {
  width: auto;
}
.sub_cat {
  width: auto;
}
.filter {
  /* width: 220px; */
  height: 90px;
  display: flex;
  /* justify-content: center; */
}
.price_lab {
  display: flex;
}
.availability_lab {
  display: flex;
}
.filter_set {
  text-align: center;
  display: flex;
}
.filter_set p {
  font-size: 18px;
}
.filter_but {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.filter_buHr {
  margin-top: 5px;
}
.filter_buHr {
  border: 1px solid #000;
  border-radius: 20px;
}
.filter_buHr:hover {
  background-color: #efbebe;
}
.filter_buHr [type="submit"] {
  background: none;
  color: #000;
}
.dropbtn {
  width: auto;
  height: auto;
  font-size: 18px;
}
.dropbtn::after {
  content: "";
  width: 15%;
  height: 2px;
  display: block;
  background-color: #cc0000;
  opacity: 1;
  z-index: 1;
  position: relative;
  top: 100%;
  left: 0;
  transition: width 0.5s linear;
}
.dropbtn:hover::after {
  width: 45%;
}
.serch_cat {
  display: flex;
}
/* .category_item p {
  position: relative;
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.category_item p:after {
  content: "";
  width: 15%;
  height: 2px;
  display: block;
  background-color: #cc0000;
  opacity: 1;
  z-index: 1;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.category_item p:hover {
  color: #cc0000;
}
.category_item p:hover::after {
  opacity: 1;
} */

.sub_cat {
  display: none;
}
.subcat_hr:after {
  content: "";
  width: 3%;
  height: 2px;
  display: block;
  background-color: #660303;
  opacity: 1;
  z-index: 1;
  position: relative;
  top: 100%;
  left: 0;
  transition: width 0.35s linear;
}
.subcat_hr:hover:after {
  width: 10%;
}
.show {
  display: block;
}
.subcat_hr input[type="submit"] {
  background: none;
  color: #000;
  width: auto;
  text-align: left;
  white-space: normal;
  padding-left: 0;
}
.filter_act {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.filter_set p {
  display: none;
}
.icon_filters img {
  width: 30px;
  height: 30px;
}
.icon_filters p {
  margin-top: 0;
  margin-bottom: 0;
}
.icons {
  display: flex;
  justify-content: space-evenly;
}
.icons p {
  cursor: pointer;
}
.filter_act input {
  margin-left: 10px;
}
.icon_catalog {
  font-size: 22px;
}
.icon_catalog:after {
  content: "";
  width: 0%;
  height: 2px;
  display: block;
  background-color: #660303;
  opacity: 1;
  z-index: 1;
  position: relative;
  top: 100%;
  left: 0;
  transition: width 0.35s linear;
}
.icon_catalog:hover:after {
  width: 100%;
}
.icon_filters {
  display: flex;
  align-items: center;
  justify-content: center;
}
.all_helper {
  display: none;
}
.show_filter {
  position: absolute;
  top: 0;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: white;
  z-index: 100;
  z-index: 100;
}
.filter_close {
  display: flex;
}
.filter_close img {
  width: 30px;
  height: 30px;
}
@media (max-width: 860px) {
  .filter {
    flex-direction: column;
    height: auto;
  }
  .help_filters {
    margin-top: 20px;
  }
  .filter_buHr {
    width: 189px;
  }
  .filter_but {
    align-items: center;
  }
}
@media (max-width: 630px) {
  .filter_set {
    flex-direction: column;
    align-items: center;
  }
}
