{% load static %}
{% block content %}
<div class="introADD">
    <header>
        <div class="conteiner">
            <div class="intro_header">
                <!-- <div class="header_logo">
                    <img id="header_logo_img" src="img\logo2.png" alt="">
                </div> -->
                <div class="header_link">
                    <nav class="navv">
                        <a href='/' class='nav_link_current'>home</a>
                        <a href="/about" class="nav_link">about Us</a>
                        <a href="/products" class="nav_link">products</a>
                        <a href="/achievements" class="nav_link">achievements</a>
                        <a href="" class="nav_link">contact</a>
                    </nav>
                    <div class="header_but">
                        <a href="/admin" class="headerbut_log">
                            Log in
                        </a>
                    </div>
                </div>
                
            </div>
        </div>
    </header>
</div>
{% endblock %}