{% load static %}
{% block content %}
<div class="introADD">
    <header>
        <div class="conteiner">
            <div class="intro_header">
                <!-- <div class="header_logo">
                    <img id="header_logo_img" src="img\logo2.png" alt="">
                </div> -->
                <div class="header_link">
                    <nav class="navv">
                        <a href='/' class='nav_link_current'>home</a>
                        <a href="/about" class="nav_link">about Us</a>
                        <a href="/products" class="nav_link">products</a>
                        <a href="/achievements" class="nav_link">achievements</a>
                        <a href="" class="nav_link">contact</a>
                    </nav>
                    {% if user.is_staff %}
                    <div class="header_but">
                        <a href="/admin" class="headerbut_log">
                            Admin 
                        </a>
                    </div>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <div style="color: aliceblue;">
                             Welcome: 
                            <a class="headerbut_log special" href='accounts/{{ user.id }}/'>
                                {% if user.first_name %}
                                    {{ user.first_name }}
                                {% else %}
                                    {{ user.username }}
                                {% endif %}
                            </a>
                        </div>
                    {% endif %}
                    {% if not user.is_authenticated %}
                    <div class="header_but">
                        <a href="/accounts/login" class="headerbut_log">
                            Log In
                        </a>
                    </div>
                    {% endif %}
                    {% if not user.is_authenticated %}
                    <div class="header_but">
                        <a href="/accounts/register" class="headerbut_log">
                            Register
                        </a>
                    </div>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <div class="header_but">
                        <a href="/accounts/logout" class="headerbut_log">
                            Log Out
                        </a>
                    </div>
                    {% endif %}
                </div>
                
            </div>
        </div>
    </header>
</div>
{% endblock %}