{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{%  static  'shop/css/style.css'  %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <title>LuxonSport</title>
</head>
<body>
    <div class="conteiner">
        <div class="intro_conADD">
            <div class="conteiner">
                <div class="intro_inner">
                    <h1 class="intro_tittle"><i> Products Page</i></h1>
                </div>
            </div>
        </div>
        
        <div class="body_inf">
                <div class="store_nav">
                    <nav class="store_navv">
                        <div class="store_link_block1">
                            <a href="" class="store_link">testtext</a>
                            <i class="fas fa-chevron-right"></i>
                        </div>
                        <div class="store_link_block">
                            <a href="" class="store_link">testtext</a>
                            <i class="fas fa-chevron-right"></i>
                        </div>
                        <div class="store_link_block">
                            <a href="" class="store_link">testtext</a>
                            <i class="fas fa-chevron-right"></i>
                        </div>
                        <div class="store_link_block">
                            <a href="" class="store_link">testtext</a>
                            <i class="fas fa-chevron-right"></i>
                        </div>
                        <div class="store_link_block">
                            <a href="" class="store_link">testtext</a>
                            <i class="fas fa-chevron-right"></i>
                        </div>
                        <div class="store_link_block">
                            <a href="" class="store_link">testtext</a>
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </nav>
                    <div class="footer_media_store">
                        <p class="footer_media_store_text">
                            Мы в социальных сетях
                        </p>
                        <div class="footer_media_item_store">
                            <a class="inst" href= "https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
                            <p>instagram</p>
                        </div>
                        <div class="footer_media_item_store">
                            <a class="face" href= "https://uk-ua.facebook.com/" target="_blank"><i class="fab fa-facebook-square"></i> </a>
                            <p>facebook</p>
                        </div>
                        <div class="footer_media_item_store">
                            <a class="you" href= "https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
                            <p>youtube</p>
                        </div>
                    </div>
            </div>

            <div class="content_products">
                {% for продукт in продукты %}
                    <div class="line">
                        <div class="line_item item1">
                            <a href='/products/{{ продукт.id }}/'><div class="line_item_img"><img src="{{ продукт.ссылка_изображения }}" alt=""></div></a> 
                            <p class="line_item_text item_info">
                                {{ продукт.название_позиции }}
                            </p>
                            <p class="line_item_price item_info">
                                {{ продукт.цена }}
                            </p>
                            <div class="line_item_button">
                                <a class="line_item_but " href='/products/{{ продукт.id }}/'>
                                    подробнее
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    
</body>
</html>