{% load static %}
{% get_media_prefix as MEDIA_URL %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{%  static  'shop\css\style.css'  %}">
    <link rel="stylesheet"  href="{%  static  'shop\css\productMain\products_style.css'  %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <title>LuxonSport</title>
</head>
<body>
    <div class="conteiner">
        <div class="all_products">
            <div class="helper">
                <div class="help_search">
                    <div class='search'>
                        <form method='POST' action='' class="form_search">
                            {% csrf_token %}
                            <div class='searchtextdiv'>
                                <input type='search' name='searchtext' class="searchtext">
                            </div>
                            <div class='searchbuttondiv'>
                                <input type='submit' name='search' class='searchbutton' value='Поиск'>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="help_filters">
                    <form method='POST' action=''>
                        {% csrf_token %}
                        <div class="filter">
                        <div class="filter_set">
                            {% if withprice == 'no' and available == 'no' %}
                            <p>Цена</p>
                            <div class="price_lab">
                                <div class="filter_act">
                                    <label>С ценой</label>
                                <input type='radio' name='pricefilter' value='Цена есть'>
                                </div>
                                <div class="filter_act">
                                <label>Нет в наличии</label>
                                <input type='radio' name='pricefilter' value='Цены нет' checked>
                                </div>
                            </div>
                            <p>Наличие</p>
                            <div class="availability_lab">
                                <div class="filter_act">
                                <label>Есть в наличии</label>
                                <input type='radio' name='availablefilter' value='Есть'>
                                </div>
                                <div class="filter_act">
                                <label>Нет в наличии</label>
                                <input type='radio' name='availablefilter' value='Нету' checked>
                                </div>
                            </div>
                            {% elif withprice == 'no' and available == 'yes' %}
                            <p>Цена</p>
                            <div class="price_lab">
                                <div class="filter_act">
                                    <label>С ценой</label>
                                <input type='radio' name='pricefilter' value='Цена есть'>
                                </div>
                                <div class="filter_act">
                                <label>Без цены</label>
                                <input type='radio' name='pricefilter' value='Цены нет' checked>
                                </div>
                            </div>
                            <p>Наличие</p>
                            <div class="availability_lab">
                                <div class="filter_act">
                                <label>Есть в наличии</label>
                                <input type='radio' name='availablefilter' value='Есть' checked>
                                </div>
                                <div class="filter_act">
                                <label>Нет в наличии</label>
                                <input type='radio' name='availablefilter' value='Нету' >
                                </div>
                            </div>
                            {% elif withprice == 'yes' and available == 'no' %}
                            <p>Цена</p>
                            <div class="price_lab">
                                <div class="filter_act">
                                    <label>С ценой</label>
                                <input type='radio' name='pricefilter' value='Цена есть' checked>
                                </div>
                                <div class="filter_act">
                                <label>Без цены</label>
                                <input type='radio' name='pricefilter' value='Цены нет' >
                                </div>
                            </div>
                            <p>Наличие</p>
                            <div class="availability_lab">
                                <div class="filter_act">
                                <label>Есть в наличии</label>
                                <input type='radio' name='availablefilter' value='Есть'>
                                </div>
                                <div class="filter_act">
                                <label>Нет в наличии</label>
                                <input type='radio' name='availablefilter' value='Нету' checked>
                                </div>
                            </div>
                            {% elif withprice == 'yes' and available == 'yes' %}
                            <p>Цена</p>
                            <div class="price_lab">
                                <div class="filter_act">
                                    <label>С ценой</label>
                                <input type='radio' name='pricefilter' value='Цена есть' checked>
                                </div>
                                <div class="filter_act">
                                <label>Без цены</label>
                                <input type='radio' name='pricefilter' value='Цены нет' >
                                </div>
                            </div>
                            <p>Наличие</p>
                            <div class="availability_lab">
                                <div class="filter_act">
                                <label>Есть в наличии</label>
                                <input type='radio' name='availablefilter' value='Есть' checked>
                                </div>
                                <div class="filter_act">
                                <label>Нет в наличии</label>
                                <input type='radio' name='availablefilter' value='Нету'>
                                </div>
                            </div>
                            {% elif withprice == 'spec' and available == 'yes' %}
                            <p>Цена</p>
                            <div class="price_lab">
                                <div class="filter_act">
                                    <label>С ценой</label>
                                <input type='radio' name='pricefilter' value='Цена есть'>
                                </div>
                                <div class="filter_act">
                                <label>Без цены</label>
                                <input type='radio' name='pricefilter' value='Цены нет'>
                                </div>
                            </div>
                            <p>Наличие</p>
                            <div class="availability_lab">
                                <div class="filter_act">
                                <label>Есть в наличии</label>
                                <input type='radio' name='availablefilter' value='Есть'checked>
                                </div>
                                <div class="filter_act">
                                <label>Нет в наличии</label>
                                <input type='radio' name='availablefilter' value='Нету' >
                                </div>
                            </div>
                            {% elif withprice == 'spec' and available == 'no' %}
                            <p>Цена</p>
                            <div class="price_lab">
                                <div class="filter_act">
                                    <label>С ценой</label>
                                <input type='radio' name='pricefilter' value='Цена есть'>
                                </div>
                                <div class="filter_act">
                                <label>Без цены</label>
                                <input type='radio' name='pricefilter' value='Цены нет'>
                                </div>
                            </div>
                            <p>Наличие</p>
                            <div class="availability_lab">
                                <div class="filter_act">
                                <label>Есть в наличии</label>
                                <input type='radio' name='availablefilter' value='Есть'>
                                </div>
                                <div class="filter_act">
                                <label>Нет в наличии</label>
                                <input type='radio' name='availablefilter' value='Нету' checked>
                                </div>
                            </div>
                            {% elif withprice == 'spec' and available == 'spec' %}
                            <p>Цена</p>
                            <div class="price_lab">
                                <div class="filter_act">
                                    <label>С ценой</label>
                                <input type='radio' name='pricefilter' value='Цена есть'>
                                </div>
                                <div class="filter_act">
                                <label>Без цены</label>
                                <input type='radio' name='pricefilter' value='Цены нет' >
                                </div>
                            </div>
                            <p>Наличие</p>
                            <div class="availability_lab">
                                <div class="filter_act">
                                <label>Есть в наличии</label>
                                <input type='radio' name='availablefilter' value='Есть'>
                                </div>
                                <div class="filter_act">
                                <label>Нет в наличии</label>
                                <input type='radio' name='availablefilter' value='Нету' >
                                </div>
                            </div>
                            {% elif withprice == 'yes' and available == 'spec' %}
                            <p>Цена</p>
                            <div class="price_lab">
                                <div class="filter_act">
                                    <label>С ценой</label>
                                <input type='radio' name='pricefilter' value='Цена есть' checked>
                                </div>
                                <div class="filter_act">
                                <label>Без цены</label>
                                <input type='radio' name='pricefilter' value='Цены нет'>
                                </div>
                            </div>
                            <p>Наличие</p>
                            <div class="availability_lab">
                                <div class="filter_act">
                                <label>Есть в наличии</label>
                                <input type='radio' name='availablefilter' value='Есть'>
                                </div>
                                <div class="filter_act">
                                <label>Нет в наличии</label>
                                <input type='radio' name='availablefilter' value='Нету'>
                                </div>
                            </div>
                            {% elif withprice == 'no' and available == 'spec' %}
                            <p>Цена</p>
                            <div class="price_lab">
                                <div class="filter_act">
                                    <label>С ценой</label>
                                <input type='radio' name='pricefilter' value='Цена есть'>
                                </div>
                                <div class="filter_act">
                                <label>Без цены</label>
                                <input type='radio' name='pricefilter' value='Цены нет' checked>
                                </div>
                            </div>
                            <p>Наличие</p>
                            <div class="availability_lab">
                                <div class="filter_act">
                                <label>Есть в наличии</label>
                                <input type='radio' name='availablefilter' value='Есть'>
                                </div>
                                <div class="filter_act">
                                <label>Нет в наличии</label>
                                <input type='radio' name='availablefilter' value='Нету'>
                                </div>
                            </div>
                            {% endif  %}
                        </div>
                        <div class="filter_but">
                            <input type='submit' name='applyfilters' value='Применить фильтры'>
                            <input type='submit' name='nofilters' value='Убрать все фильтры'>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="help_category">
                    <div class="category">
                        {% for i in category %}
                            <a href='/ru/products/category/{{ i.id }}/'>{{ i.category_name_ru }}</a>
                            <br>
                        {% endfor %}
                        <!--
                        <div id="mycategory" class="category-content">
                            <a href='category' class="dropbtn">Спортивное оборудование для фитнес центров</p>
                            <div id="myDropdown" class="dropdown-content">
                                <ul>
                                    <a href="#">text2</a>
                                    <a href="#">text2</a>
                                    <a href="#">text2</a>
                                    <a href="#">text</a>
                                </ul>
                                
                            </div>
                            <p onclick="myFunction2()" class="dropbtn">Спортивное оборудование для дома</p>
                            <div id="myDropdown2" class="dropdown-content">
                                <a href="#">text2</a>
                            </div>
                            <p   onclick="myFunction3()" class="dropbtn">Спортивное оборудование для ВУЗов, школ </p>
                            <div id="myDropdown3" class="dropdown-content">
                                <a href="#">text3</a>
                            </div>
                            <p   onclick="myFunction4()" class="dropbtn">Строительство футбольных полей и игровых площадок</p>
                            <div id="myDropdown4" class="dropdown-content">
                                <a href="#">text4</a>
                            </div>
                            <p   onclick="myFunction5()" class="dropbtn">Настольный теннис</p>
                            <div id="myDropdown5" class="dropdown-content">
                                <a href="#">text5</a>
                            </div>
                            <p   onclick="myFunction6()" class="dropbtn">Строительство детских площадок</p>
                            <div id="myDropdown6" class="dropdown-content">
                                <a href="#">text6</a>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        <div class="body_inf">    
            <div class="content_products">
                        {% for продукт in продукты %}
                            <div class="line">
                                <div class="line_item item1">
                                    <div class="line_item_info">
                                            <a href='/ru/product/{{ продукт.id }}/'><div class="line_item_img"><img alt="" src="{{ MEDIA_URL }}{{ продукт.image }}"></div></a>
                                            <div class="protuct_tit">
                                            <p class="line_item_text item_info">
                                                {{ продукт.название_позиции }}
                                            </p>
                                        </div> 
                                        {% if продукт.наличие != '-' %}
                                            <p class="item_info">
                                                Есть в наличии
                                            </p>
                                        {% else %}
                                            <p class=" item_info">
                                                Нет в наличии
                                            </p>
                                        {% endif %}
                                        {% if продукт.цена == None or продукт.валюта == None %}
                                            <p class="line_item_price item_info">
                                                Цена формируется
                                            </p> 
                                        {% else %}  
                                            <p class="line_item_price item_info">
                                                {{ продукт.цена  }} {{ продукт.валюта }}
                                            </p>
                                        {% endif %}
                                    </div>
                                    <div class="line_item_button">
                                        <a class="line_item_but " href='/ru/product/{{ продукт.id }}/'>
                                            Подробнее
                                        </a>   
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        
            </div>
        </div>
    </div>
</div>
</body>
<script>
    function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}
function myFunction2() {
    document.getElementById("myDropdown2").classList.toggle("show");
}
function myFunction3() {
    document.getElementById("myDropdown3").classList.toggle("show");
}
function myFunction4() {
    document.getElementById("myDropdown4").classList.toggle("show");
}
function myFunction5() {
    document.getElementById("myDropdown5").classList.toggle("show");
}
function myFunction6() {
    document.getElementById("myDropdown6").classList.toggle("show");
}

</script>
</html>