{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{%  static  'shop/css/style.css'  %}">
    <link rel="stylesheet"  href="{%  static  'shop/css/main/style.css'  %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <link rel="icon" href="{%  static  'shop/img/logo.png'  %}" type="image/x-icon">
    <title>LuxonSport</title>
</head>
<body>
    <div class="introADD">
        <header>
            <div class="conteiner">
                <div class="intro_header">
                    <div class="header_link">
                        <div class="header_top">
                            <div class="header_top_img">
                                <div class="top_img">
                                    <a href='/ru'><img src="{% static '' %}shop/img/logo2.png" alt=""></a>
                                </div>
                                
                            </div>
                            <nav class="navv">
                                <a href='/ru' class='nav_link'>Главная страница</a>
                                <a href="/ru/about" class="nav_link">О нас</a>
                                <a href="/ru/products" class="nav_link">Каталог</a>
                                <a href="/ru/achievements" class="nav_link_current">Достижения</a>
                                <a href="" class="nav_link">Контакты</a>
                            </nav>
                            <div class="header_language">
                                <form action='' method="POST" id='language'>
                                    {% csrf_token %}
                                    <select form="language" name='language' onchange="this.form.submit()">
                                        <option value="" disabled selected>Выберите язык</option>
                                        <option value="ru">Русский язык</option>
                                        <option value='en'>English</option>
                                        <option value='uk'>Українська мова</option>
                                    </select>
                                </form>
                            </div>
                            
                            {% if user.is_authenticated %}
                            <div class="header_but">
                                <a href="/ru/accounts/logout" class="headerbut_log">
                                    Выйти
                                </a>
                            </div>
                            {% endif %}
                        </div>
                        <div class="header_bot">
                            <div class="header_allcontact">
                                <div class="header_contact">
                                    <div class="header_contact_item">
                                        <p class="header_contact_num">+380963265300</p>
                                    </div>
                                    <div class="header_contact_item">
                                        <a href="" class="header_link2">luxonSport@gmail.com</a>
                                    </div>
                                </div>
                                <div class="header_media">
                                    <div class="header_media_item">
                                        <a href='https://www.instagram.com/' target="_blank" class="fab fa-instagram"></a>
                                    </div>
                                    <div class="header_media_item">
                                        <a href='https://www.facebook.com/' target="_blank" class="fab fa-facebook-square"></a>
                                    </div>
                                    <div class="header_media_item">
                                        <a href='https://www.youtube.com/' target="_blank" class="fab fa-youtube"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="header_infuser">
                                {% if user.is_staff %}
                                <div class="header_but">
                                    <a href="/admin" class="headerbut_log">
                                        Админ 
                                    </a>
                                </div>
                                {% endif %}
                                {% if user.is_authenticated %}
                                    <div style="color: aliceblue;" class="header_user">
                                        <div class="header_welcome">
                                            Добро пожаловать: 
                                        </div>
                                        <div class="header_user_but">
                                            <a class="headerbut_log special" href='/ru/accounts/{{ user.id }}/'>
                                                {% if user.first_name %}
                                                    {{ user.first_name }}
                                                {% else %}
                                                    {{ user.username }}
                                                {% endif %}
                                            </a>
                                        </div>
                                       
                                    </div>
                                {% endif %}
                                {% if not user.is_authenticated %}
                                <div class="header_but">
                                    <a href="/ru/accounts/login" class="headerbut_log">
                                        Войти
                                    </a>
                                </div>
                                {% endif %}
                                {% if not user.is_authenticated %}
                                <div class="header_but">
                                    <a href="/ru/accounts/register" class="headerbut_log">
                                        Регистрация
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                            
                        </div>
                        
                        
                        
                    </div>
                    
                </div>
            </div>
        </header>
    </div>
</body>
</html>